n8n/WhatsApp - Assistente Clínica.json
{
  "name": "WhatsApp - Assistente Clínicas",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM clinicas.get_professional_context($1);",
        "options": {
          "queryReplacement": "={{ $json.tenant_code }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        28400,
        12848
      ],
      "id": "5fdd0d79-edb2-4888-92ba-ee74a787c0ee",
      "name": "Load Tenant Config",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "gpt-5.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        30272,
        13056
      ],
      "id": "97eeec68-dd05-4565-8c99-7e3e7c2a222b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kmLkZlPEGiCdUTbM",
          "name": "OpenAi: Clinicas"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Mensagem Recebida').first().json.session_id }}",
        "tableName": "={{ $(\"Load Tenant Config\").first().json.schema_name }}.n8n_chat_histories",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        30416,
        13056
      ],
      "id": "c856372c-518f-4e93-bb84-a0715195dca3",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        30544,
        13344
      ],
      "id": "8c4e02c9-492a-4203-90e3-4b4ae65bb259",
      "name": "Think"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        30544,
        13056
      ],
      "id": "ba70b7e7-82e4-4d60-9cfe-11d8bbe19ca6",
      "name": "Date & Time"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        30544,
        13200
      ],
      "id": "b1f5b4e6-8441-4d62-8087-78243c8ac3a5",
      "name": "Calculator"
    },
    {
      "parameters": {
        "name": "buscar_paciente",
        "description": "=Busca dados do paciente pelo número de telefone. Retorna nome, alergias, condições médicas, convênio, histórico de consultas e tratamentos ativos. Use quando precisar identificar o paciente ou ver informações dele.",
        "workflowId": {
          "__rl": true,
          "value": "=lTaS2twY8A-3Zkwz6iCAk",
          "mode": "id",
          "cachedResultUrl": "/workflow/=lTaS2twY8A-3Zkwz6iCAk"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "patient_phone": "={{ $('Mensagem Recebida').first().json.message_from }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        30928,
        13056
      ],
      "id": "143f7937-2357-4c9a-9885-f197969ec9d0",
      "name": "Buscar Paciente"
    },
    {
      "parameters": {
        "name": "buscar_horarios_disponiveis",
        "description": "Busca horários disponíveis de dentistas para uma data específica. Pode filtrar por dentista (dentist_id) ou especialidade.",
        "workflowId": {
          "__rl": true,
          "value": "=2YelpHyxOWru-WvXVobgh",
          "mode": "id",
          "cachedResultUrl": "/workflow/=2YelpHyxOWru-WvXVobgh"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "specialty": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('specialty', `Especialidade para filtrar horários (opcional)`, 'string', '') }}",
            "date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}",
            "dentist_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dentist_id', `ID do dentista para filtrar horários (opcional)`, 'string', '') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "dentist_id",
              "displayName": "dentist_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "specialty",
              "displayName": "specialty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        31248,
        13248
      ],
      "id": "8ea0dac3-58f8-4974-84ad-b0fb2f65a7dd",
      "name": "Buscar Horários"
    },
    {
      "parameters": {
        "name": "agendar_consulta",
        "description": "Cria um novo agendamento de consulta odontológica. IMPORTANTE: só use após confirmar TODOS os dados com o paciente.",
        "workflowId": {
          "__rl": true,
          "value": "=DGFmV2DcLn5Hr87SG-M6w",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "patient_phone": "={{ $('Mensagem Recebida').first().json.message_from }}",
            "patient_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('patient_name', `Nome completo do paciente`, 'string') }}",
            "dentist_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dentist_id', `ID do dentista`, 'string') }}",
            "procedure_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('procedure_id', `ID do procedimento (opcional)`, 'string', '') }}",
            "date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', `Data da consulta no formato YYYY-MM-DD`, 'string') }}",
            "time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('time', `Horário da consulta no formato HH:MM`, 'string') }}",
            "notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('notes', `Observações opcionais sobre a consulta`, 'string', '') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "patient_name",
              "displayName": "patient_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "dentist_id",
              "displayName": "dentist_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "procedure_id",
              "displayName": "procedure_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        31296,
        13056
      ],
      "id": "585e3947-f633-4dff-acbc-07fc49aa13f7",
      "name": "Agendar Consulta"
    },
    {
      "parameters": {
        "name": "cancelar_consulta",
        "description": "Cancela um agendamento existente. Precisa do ID do agendamento e do telefone do paciente para validação.",
        "workflowId": {
          "__rl": true,
          "value": "=7cNVINCL9vWl7E091-Bsv",
          "mode": "id",
          "cachedResultUrl": "/workflow/=7cNVINCL9vWl7E091-Bsv"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "appointment_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointment_id', ``, 'string') }}",
            "patient_phone": "={{ $('Mensagem Recebida').first().json.message_from }}",
            "reason": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reason', `Motivo do cancelamento (opcional)`, 'string', '') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        31424,
        13248
      ],
      "id": "aa1ee111-9e8b-417d-ae65-594a3b14c4b6",
      "name": "Cancelar Consulta"
    },
    {
      "parameters": {
        "name": "consultar_agendamentos",
        "description": "Lista os próximos agendamentos futuros de um paciente. Retorna data, horário, dentista, procedimento e status.",
        "workflowId": {
          "__rl": true,
          "value": "=-lhyMHdd3_inlBq3iXnZc",
          "mode": "id",
          "cachedResultUrl": "/workflow/=-lhyMHdd3_inlBq3iXnZc"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "patient_phone": "={{ $('Mensagem Recebida').item.json.message_from }}",
            "status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('status', `Status do agendamento para filtrar (opcional)`, 'string', '') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        31456,
        13040
      ],
      "id": "39cb8dcb-478e-4218-b351-bbad78d12d75",
      "name": "Consultar Agendamentos"
    },
    {
      "parameters": {
        "name": "listar_dentistas_procedimentos",
        "description": "Lista dentistas disponíveis ou procedimentos odontológicos oferecidos. Para dentistas, retorna nome, CRO e especialidades. Para procedimentos, retorna nome, categoria, duração e preço.",
        "workflowId": {
          "__rl": true,
          "value": "={{'kD2fs_WAae3V2DLLHAAe9'}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('type', `'dentistas' ou 'procedimentos'`, 'string', 'dentistas') }}",
            "specialty": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('specialty', `Especialidade para filtrar dentistas (opcional)`, 'string', '') }}",
            "category": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('category', `Categoria para filtrar procedimentos (opcional)`, 'string', '') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "specialty",
              "displayName": "specialty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        31088,
        13312
      ],
      "id": "325b12fb-5f89-4275-be5c-846657604eaa",
      "name": "Listar Dentistas/Procedimentos"
    },
    {
      "parameters": {
        "name": "resumo_financeiro",
        "description": "Retorna o resumo financeiro do paciente: total cobrado, pago, pendente, atrasado e próximos vencimentos.",
        "workflowId": {
          "__rl": true,
          "value": "=7p-QuU6PC9dXHq_4t-DEv",
          "mode": "id",
          "cachedResultUrl": "/workflow/=7p-QuU6PC9dXHq_4t-DEv"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "patient_phone": "={{ $('Mensagem Recebida').first().json.message_from }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        31616,
        13152
      ],
      "id": "9b976b07-a445-43f6-af8a-84ccf426bf00",
      "name": "Resumo Financeiro"
    },
    {
      "parameters": {
        "name": "reiniciar_conversa",
        "description": "Reinicia a conversa do paciente, limpando todo o histórico e contexto anterior. Use quando o paciente pedir para reiniciar, limpar ou começar uma nova conversa.",
        "workflowId": {
          "__rl": true,
          "value": "=PDkFS5em9NgG0vKPUMMYb",
          "mode": "id",
          "cachedResultUrl": "/workflow/=PDkFS5em9NgG0vKPUMMYb"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "session_id": "={{ $('Mensagem Recebida').first().json.session_id }}"
          },
          "matchingColumns": [
            "patient_phone"
          ],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        30912,
        13312
      ],
      "id": "c4dae4f6-8814-4edd-ad05-9f1f3a546f2f",
      "name": "Reiniciar Conversa"
    },
    {
      "parameters": {
        "name": "listar_especialidades",
        "description": "Lista todas as especialidades odontológicas disponíveis no consultório, com os dentistas que atendem cada uma. Use antes de buscar horários quando o paciente não especificar um dentista, para identificar qual especialidade e profissional atendem o procedimento desejado.",
        "workflowId": {
          "__rl": true,
          "value": "=Tn8tMYgL5SUiJgj-Il-W-",
          "mode": "id",
          "cachedResultUrl": "/workflow/=Tn8tMYgL5SUiJgj-Il-W-"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        31104,
        13040
      ],
      "id": "c4c31aa3-2d14-4dcc-a224-983a78a0e1e4",
      "name": "Listar Especialidades"
    },
    {
      "parameters": {
        "name": "consultar_contexto_usuario",
        "description": "Consulta contexto consolidado do usuário/paciente pelo telefone WhatsApp, incluindo histórico de interações, agendamentos, planos de tratamento, prontuários, prescrições e situação financeira. Use no início do atendimento para personalizar a conversa.",
        "workflowId": {
          "__rl": true,
          "value": "=-XvFkZLuXnb0SzBqAWRQP",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "patient_phone": "={{ $('Mensagem Recebida').first().json.message_from }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        31632,
        12992
      ],
      "id": "537770e9-7b8f-41c8-ab5a-fe19466d92a7",
      "name": "Contexto do Usuário"
    },
    {
      "parameters": {
        "name": "salvar_preferencia_usuario",
        "description": "Salva preferências de personalização do usuário no cadastro WhatsApp (ex.: genero, pronome_tratamento, nome_preferido). Use sempre que o usuário corrigir forma de tratamento, informar gênero/pronomes ou preferências de comunicação.",
        "workflowId": {
          "__rl": true,
          "value": "=WittRJBFxY5uWR3JHtbog",
          "mode": "id",
          "cachedResultUrl": "/workflow/=WittRJBFxY5uWR3JHtbog"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "patient_phone": "={{ $('Mensagem Recebida').first().json.message_from }}",
            "preference_key": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('preference_key', `Chave da preferência (ex.: genero, pronome_tratamento, nome_preferido)`, 'string') }}",
            "preference_value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('preference_value', `Valor da preferência informada pelo usuário`, 'string') }}",
            "source": "assistente"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "preference_key",
              "displayName": "preference_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "preference_value",
              "displayName": "preference_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        31568,
        13296
      ],
      "id": "2b8369b5-f774-4bd8-a722-a518ee7a8bb7",
      "name": "Salvar Preferência do Usuário"
    },
    {
      "parameters": {
        "name": "enviar_recado_time_humano",
        "description": "Envia recado para o time humano por e-mail e WhatsApp configurados. Use quando houver solicitação de atendimento humano, insatisfação, conflito, ofensas/abusos ou quando você não conseguir ajudar com segurança.",
        "workflowId": {
          "__rl": true,
          "value": "=JsPGEoNrxVqnkARIQihH4",
          "mode": "id",
          "cachedResultUrl": "/workflow/=JsPGEoNrxVqnkARIQihH4"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "sender_phone_number_id": "={{ $('Mensagem Recebida').first().json.whatsapp_phone_number_id }}",
            "patient_phone": "={{ $('Mensagem Recebida').first().json.message_from }}",
            "patient_name": "={{ $('Mensagem Recebida').first().json.message_from_profile_name }}",
            "session_id": "={{ $('Mensagem Recebida').first().json.session_id }}",
            "categoria": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('categoria', `Categoria do recado: atendimento_humano, insatisfacao, nao_consegue_ajudar, conflito, abuso_ofensa`, 'string') }}",
            "urgencia": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('urgencia', `Urgência: baixa, media, alta, critica`, 'string', 'alta') }}",
            "resumo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('resumo', `Resumo curto do que aconteceu e por que o time humano deve atuar`, 'string') }}",
            "mensagem_usuario": "={{ $('Mensagem Recebida').first().json.message_content || $('Unificar Mensagens').first().json.chat_input || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sender_phone_number_id",
              "displayName": "sender_phone_number_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "patient_name",
              "displayName": "patient_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "categoria",
              "displayName": "categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "urgencia",
              "displayName": "urgencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "resumo",
              "displayName": "resumo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "mensagem_usuario",
              "displayName": "mensagem_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        31872,
        13136
      ],
      "id": "18adf3af-7f00-4e0c-95da-9f694aee0c96",
      "name": "Enviar Recado ao Time Humano"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM {{ $(\"Load Tenant Config\").first().json.schema_name }}.reiniciar_conversa($1::varchar);",
        "options": {
          "queryReplacement": "={{ $('Mensagem Recebida').item.json.session_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        29728,
        13600
      ],
      "id": "eeaf70cc-f8a2-4ca9-80fd-324415beef56",
      "name": "Executar Reset",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = `✨ Conversa reiniciada com sucesso!\n\nSeu histórico de conversa foi limpo e estou disponível para um novo atendimento.\n\nComo posso ajudar você hoje? 😊`;\n\nreturn [{ json: { output } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        29088,
        13600
      ],
      "id": "86b1a89e-1d4a-4b74-bc2c-daa0bcc9ec4a",
      "name": "Mensagem de Reset"
    },
    {
      "parameters": {
        "jsCode": "// Recebe o texto de entrada\nconst texto = $input.first().json.output;\n\n// Divide o texto apenas pela sequência de barra invertida dupla (\\n\\n)\nconst itens = texto.split(/\\n\\n/);\n\n// Retorna cada item como um objeto separado, filtrando itens vazios\nreturn itens\n  .filter(item => item.trim() !== \"\")\n  .map(item => ({ item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        33168,
        12752
      ],
      "id": "f4b97da7-d7d6-4b6c-beff-245cfeb46faf",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        33584,
        12752
      ],
      "id": "77e24fc8-13cd-4121-979e-0dd359840c96",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "path": "whatsapp/clinicas",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7728e5a3-5051-4b40-89e6-a7148eaac4c6",
      "name": "Webhook Verificação Meta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        27568,
        12032
      ],
      "webhookId": "meta-verification-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "verify-token-check",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "6990655e5f96dab54ff827a0d16f4883",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d8c7f944-600c-4513-840d-c9480778e980",
      "name": "Token Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        27792,
        12032
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Webhook Verificação Meta').first().json.query['hub.challenge'] }}",
        "options": {}
      },
      "id": "1547bce3-dac7-40da-afd2-3c5ae25c92b3",
      "name": "Responder Verificação",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        28016,
        11904
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Forbidden",
        "options": {
          "responseCode": 403
        }
      },
      "id": "e76242e5-1312-45b8-a625-3f50902d3c58",
      "name": "Responder Proibido",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        28016,
        12144
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "78a95858-00dd-47e1-a9ac-8c599f11f8f7",
      "name": "Responder 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        27520,
        12464
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp/clinicas",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "39e33ea7-16b9-4785-9462-f545fdfd2954",
      "name": "Webhook Mensagens Recebidas",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        26960,
        12656
      ],
      "webhookId": "joao-leao-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * \nFROM clinicas.tenants\nWHERE whatsapp_phone_e164 = $1\nORDER BY tenant_code\nLIMIT 1",
        "options": {
          "queryReplacement": "={{ $json.whatsapp_phone_number }}"
        }
      },
      "id": "5cdf81a5-01b6-4021-98ae-d7a84871c49f",
      "name": "Buscar tenant",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        27520,
        12864
      ],
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM clinicas.check_whatsapp_rate_limit(\n  p_tenant_code := $1::text,\n  p_user_phone_e164 := $2::text,\n  p_provider_message_id := $3::text,\n  p_message_type := $4::text,\n  p_whatsapp_phone_e164 := $5::text,\n  p_request_metadata := jsonb_build_object('whatsapp_phone_number_id', $6::text)\n);",
        "options": {
          "queryReplacement": "={{ $('Buscar tenant').first().json.tenant_code }},={{ $('Mensagem Recebida').first().json.message_from }},={{ $('Mensagem Recebida').first().json.message_id }},={{ $('Mensagem Recebida').first().json.message_type }},={{ $('Mensagem Recebida').first().json.whatsapp_phone_number }},={{ $('Mensagem Recebida').first().json.whatsapp_phone_number_id }}"
        }
      },
      "id": "62e77144-42ee-426a-acb9-35c760854983",
      "name": "Aplicar Rate Limit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        27856,
        12864
      ],
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "rate-limit-allowed-check",
              "leftValue": "={{ String($json.allowed) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a36001fc-0348-4c8a-bf76-2eccabd3ef0c",
      "name": "Rate Limit Permitido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        28096,
        12864
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extrair dados da mensagem recebida via API Oficial do WhatsApp (Meta Cloud API)\nconst body = $input.first().json.body || $input.first().json;\n\n// Validar que é um webhook do WhatsApp Business\nif (body.object !== 'whatsapp_business_account') {\n  return [];\n}\n\n// Extrair a primeira entrada e mudança\nconst entry = (body.entry || [])[0];\nif (!entry) return [];\n\nconst change = (entry.changes || [])[0];\nif (!change || change.field !== 'messages') return [];\n\nconst value = change.value || {};\nconst metadata = value.metadata || {};\n\n// Extrair mensagem (ignorar status/delivery receipts)\nconst messages = value.messages || [];\nif (messages.length === 0) return [];\n\nconst msg = messages[0];\nconst contacts = value.contacts || [];\nconst contact = contacts[0] || {};\n\n// Dados do remetente\nconst message_from = msg.from || '';\nconst message_from_profile_name = contact.profile?.name || '';\nconst message_id = msg.id || '';\nconst whatsapp_phone_number = metadata.display_phone_number || '';\nconst whatsapp_phone_number_id = metadata.phone_number_id || '';\n\n// Determinar tipo da mensagem\nlet message_type = 'text';\nlet message_content = '';\nlet media_mimetype = '';\nlet media_caption = '';\nlet media_id = '';\n\nif (msg.type === 'audio') {\n  message_type = 'audio';\n  media_mimetype = msg.audio?.mime_type || 'audio/ogg';\n  media_id = msg.audio?.id || '';\n} else if (msg.type === 'image') {\n  message_type = 'image';\n  media_mimetype = msg.image?.mime_type || 'image/jpeg';\n  media_caption = msg.image?.caption || '';\n  media_id = msg.image?.id || '';\n} else if (msg.type === 'text') {\n  message_content = msg.text?.body || '';\n} else if (msg.type === 'interactive') {\n  message_content = msg.interactive?.button_reply?.title || msg.interactive?.list_reply?.title || '';\n} else if (msg.type === 'button') {\n  message_content = msg.button?.text || '';\n} else {\n  // Tipo não suportado\n  return [];\n}\n\n// Detectar comandos de reset da conversa\nconst resetCommands = ['/limpar', '/reset', '/reiniciar', '/nova conversa', '/novo', 'nova conversa', 'limpar conversa', '#reiniciar', '#reset', '#limpar', 'reiniciar conversa', 'recomeçar conversa', 'recomecar conversa', 'começar denovo', 'comecar denovo'];\n\nconst normalizedContent = message_content.trim().toLowerCase();\nif (resetCommands.includes(normalizedContent)) {\n  message_type = 'reset';\n}\n\n// Montar sessionId: telefone do assistente + telefone do usuário\nconst session_id = whatsapp_phone_number + '|' + message_from;\n\nreturn [{\n  json: {\n    message_type,\n    message_content,\n    media_mimetype,\n    media_caption,\n    media_id,\n    message_from,\n    message_from_profile_name,\n    message_id,\n    session_id, \n    whatsapp_phone_number,\n    whatsapp_phone_number_id,\n    raw_message: msg\n  }\n}];"
      },
      "id": "ed4731f7-92eb-4d24-b29b-140437b18660",
      "name": "Mensagem Recebida",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        27216,
        12656
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Mensagem Recebida').first().json.message_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cf81eb9f-7dd5-4e3a-88c8-681f5a3330e4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Mensagem Recebida').first().json.message_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "048defe2-b01a-4bbd-ab11-491624c3703f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Mensagem Recebida').first().json.message_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "18f9a41a-acae-4195-9f6c-033ba9418cc0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Mensagem Recebida').first().json.message_type }}",
                    "rightValue": "reset",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "306a1fa2-db9a-41b4-a901-fc7bc175691f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reset"
            }
          ]
        },
        "options": {}
      },
      "id": "b1f1feea-91c1-4956-9f12-d2c3e5e2819e",
      "name": "Tipo de Mensagem",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        28688,
        12816
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar texto transcrito do áudio para o agente IA\nconst transcription = $input.first().json.text || '';\nconst originalData = $('Mensagem Recebida').first().json;\n\nconst transcription_text = (transcription && transcription.trim()) \n      ? transcription.trim()\n      : '[Áudio recebido mas não foi possível transcrever. Por favor, envie em texto.]'\n\nreturn [{\n  json: {\n    ...originalData,\n    message_type: 'audio',\n    chat_input: `[Mensagem de áudio transcrita]: ${transcription_text}`,\n    original_transcription: transcription_text\n  }\n}];"
      },
      "id": "8d38a7a1-3e3b-4118-a1d6-af266b767d10",
      "name": "Preparar Texto do Áudio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        29872,
        12720
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        29632,
        12720
      ],
      "id": "08190bd3-cd23-46a5-a3ff-627725f501d7",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "mBrIhUVilYC9NHDM",
          "name": "OpenAI: politicos"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('Mensagem Recebida').first().json.media_id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        29136,
        12720
      ],
      "id": "f891b261-272d-4320-8de2-be23118e2bd7",
      "name": "Download audio",
      "webhookId": "da1b6a8d-7add-451c-8800-5f319f5e8372",
      "credentials": {
        "whatsAppApi": {
          "id": "QEdJvd4UlIJ2xjVE",
          "name": "Tenóbio - WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        29392,
        12720
      ],
      "id": "d1a9a595-77dc-466c-a684-5723385cd2a4",
      "name": "Baixar Áudio Binary",
      "credentials": {
        "whatsAppApi": {
          "id": "QEdJvd4UlIJ2xjVE",
          "name": "Tenóbio - WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Restaurar dados originais da mensagem recebida\nconst originalData = $('Mensagem Recebida').first().json;\n\n// Unificar todas as mensagens (texto, áudio, imagem) para o agente IA\nconst item = $input.first().json;\n\nreturn [{\n  json: {\n    ...item,\n    ...originalData\n  }\n}];"
      },
      "id": "209a7d55-993b-44ae-8b5d-55b872b422d0",
      "name": "Unificar Mensagens",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        30448,
        12800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar mensagem de texto para o agente IA\nconst originalData = $('Mensagem Recebida').first().json;\nconst messageContent = originalData.message_content\n\nreturn [{\n  json: {\n    ...originalData,\n    chat_input: messageContent,\n    message_type: 'text'\n  }\n}];"
      },
      "id": "f455cb8c-0fe7-4100-abda-f07dd47fc867",
      "name": "Preparar Texto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        29440,
        12240
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Mensagem Recebida').first().json.whatsapp_phone_number_id }}",
        "recipientPhoneNumber": "={{ $('Mensagem Recebida').first().json.message_from }}",
        "textBody": "={{ $json.item }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        33872,
        12768
      ],
      "id": "ad91fa8a-0cb7-4a67-8f3c-8dd97a54d23e",
      "name": "Enviar Mensagem Resposta",
      "webhookId": "cd14995a-7e3e-45d5-b337-1d094a35d364",
      "credentials": {
        "whatsAppApi": {
          "id": "QEdJvd4UlIJ2xjVE",
          "name": "Tenóbio - WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Restaurar dados originais da mensagem recebida\nconst originalData = $('Mensagem Recebida').first().json;\n\n// Mensagem de reset\nconst mensagemReset = $('Mensagem de Reset').first().json;\n\nreturn [{\n  json: {\n    ...mensagemReset,\n    ...originalData\n  }\n}];"
      },
      "id": "6b390853-8672-4738-a3aa-bd532e219ce6",
      "name": "Restaurar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        30128,
        13600
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Busca informações na base de conhecimento oficial do {{ $('Buscar tenant').first().json.organization_name }}. Use esta ferramenta para encontrar dados sobre sua trajetória política, mandatos, comissões, áreas de atuação, bandeiras, experiência empresarial, cargos executivos e contexto eleitoral para as próximas eleições. Sempre consulte esta ferramenta antes de responder perguntas sobre {{ $('Buscar tenant').first().json.nome }}. ",
        "tableName": "={{ $('Load Tenant Config').first().json.schema_name }}.documentos",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        31760,
        12960
      ],
      "id": "611bc0f6-0333-4618-b45e-92303a6a1a1c",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        31760,
        13232
      ],
      "id": "af12411b-eee5-4b9a-a15c-b1d4b59c9e4f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "mBrIhUVilYC9NHDM",
          "name": "OpenAI: politicos"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chat_input }}",
        "options": {
          "systemMessage": "=Você é um assistente virtual para consultório de saúde. Você é educado, profissional, acolhedor e eficiente. Responda sempre em português brasileiro.\n\n══════════════════════════════════════\n📋 PROTOCOLOS GERAIS\n══════════════════════════════════════\n1. Respostas breves e diretas para WhatsApp (máximo 4-5 linhas por mensagem)\n2. Use emojis com moderação para melhorar legibilidade\n3. Sempre confirme dados antes de executar ações (agendar, cancelar)\n4. NUNCA invente, estime ou suponha informações sobre preços, procedimentos, horários, convênios ou qualquer dado específico do consultório — use sempre as ferramentas e, se não encontrar, acione o time humano\n5. Mantenha sigilo sobre dados de outros pacientes\n6. Se não encontrar o paciente no sistema, trate como novo paciente\n7. Não seja repetitivo\n8. Mensagens de áudio são automaticamente transcritas para texto\n9. Sempre que o usuário informar preferência de tratamento (ex.: gênero, pronomes, nome preferido), salve com a ferramenta de preferências\n10. Envie recado para o time humano com a ferramenta específica quando houver: pedido de atendimento humano, insatisfação com serviço, situação em que você não consiga ajudar/saiba responder, conflito, abuso ou ofensa\n\n══════════════════════════════════════\n⚠️ GUARDRAILS — INFORMAÇÕES FACTUAIS\n══════════════════════════════════════\nESTAS REGRAS SÃO ABSOLUTAS E NÃO PODEM SER IGNORADAS EM NENHUMA CIRCUNSTÂNCIA:\n\n🚫 É ESTRITAMENTE PROIBIDO inventar, estimar ou supor:\n- Preços, valores, custos ou orçamentos de qualquer procedimento ou consulta\n- Horários de funcionamento além dos listados no contexto\n- Nomes de profissionais, especialidades ou procedimentos não retornados pelas ferramentas\n- Disponibilidade de horários sem consultar a ferramenta de busca\n- Informações sobre convênios, planos ou formas de pagamento não confirmadas nas ferramentas\n\n💰 PROTOCOLO OBRIGATÓRIO PARA PERGUNTAS SOBRE PREÇOS:\n1. SEMPRE use a ferramenta Listar Dentistas e Procedimentos (type=procedimentos) antes de mencionar qualquer valor\n2. Se o procedimento não tiver preço cadastrado (preco_base nulo) ou a busca retornar vazio → acione IMEDIATAMENTE a ferramenta Enviar Recado ao Time Humano\n3. Informe ao paciente: \"Não tenho o valor exato aqui. Já avisei nossa equipe e eles entrarão em contato em breve! 😊\"\n4. JAMAIS use frases como \"geralmente custa\", \"em média vale\", \"costuma ser em torno de\" ou \"aproximadamente\" para dados financeiros — isso é inventar informação\n\n📵 PROTOCOLO PARA QUALQUER INFORMAÇÃO DESCONHECIDA:\n1. Admita claramente que não tem aquela informação disponível\n2. Acione a ferramenta Enviar Recado ao Time Humano com a dúvida do paciente\n3. Informe ao paciente que o time entrará em contato em breve\n4. NUNCA responda com base em \"conhecimento geral\" para dados específicos do consultório\n\n══════════════════════════════════════\n🏥 INFORMAÇÕES DO CONSULTÓRIO\n══════════════════════════════════════\n- Clínica: {{ $('Buscar tenant').first().json.organization_name }}\n- Endereço: {{ $('Buscar tenant').first().json.organization_address }}\n- Telefone: {{ $('Buscar tenant').first().json.organization_phone }}\n- Horário: {{ JSON.stringify($('Buscar tenant').first().json.organization_hours)}}\n- Instagram: {{ $('Buscar tenant').first().json.organization_instagram }}\n\n══════════════════════════════════════\n👨‍⚕️ PROFISSIONAL\n══════════════════════════════════════\n- Nome: {{ $('Buscar tenant').first().json.full_name }}\n- Especialidades: {{ JSON.stringify($('Buscar tenant').first().json.specialties)}}\n- Registro: {{ $('Buscar tenant').first().json.credential_type }} {{ $('Buscar tenant').first().json.credential_number }}\n\n══════════════════════════════════════\n🤖 SUA IDENTIDADE\n══════════════════════════════════════\nVocê é {{ $('Buscar tenant').first().json.assistant_persona_name }}, assistente virtual deste consultório.\nPersonalidade: {{ $('Buscar tenant').first().json.assistant_tone }}\n\n══════════════════════════════════════\n🛠️ FERRAMENTAS DISPONÍVEIS\n══════════════════════════════════════\nVocê tem acesso às seguintes ferramentas. Use-as conforme necessário e sempre confirme dados antes de executar ações irreversíveis.\n\n👤 Contexto do Usuário\nConsulta histórico completo e preferências de personalização (quando já salvas).\nParâmetros: patient_phone (obrigatório)\nQuando usar: SEMPRE no início do atendimento para personalizar linguagem e evitar tratamentos incorretos.\n\n🧠 Salvar Preferência do Usuário\nSalva preferências de personalização no cadastro do usuário (ex.: genero, pronome_tratamento, nome_preferido).\nParâmetros: preference_key e preference_value (obrigatórios)\nQuando usar: imediatamente após o usuário informar ou corrigir preferência de tratamento.\n\n📣 Enviar Recado ao Time Humano\nEnvia recado para o time humano por e-mail e WhatsApp configurados do tenant.\nParâmetros: categoria, urgencia, resumo (obrigatórios)\nQuando usar: pedido explícito de humano, insatisfação, incapacidade de resolver, conflitos, abusos e ofensas.\n\n🔍 Buscar Paciente\nLocaliza o cadastro de um paciente pelo número de telefone.\nParâmetros: patient_phone (obrigatório)\nQuando usar: ao iniciar o atendimento, antes de agendar ou ao consultar histórico do paciente.\n\n📅 Buscar Horários Disponíveis\nLista os slots de horários livres dos profissionais em uma data específica.\nParâmetros: date no formato YYYY-MM-DD (obrigatório), dentist_id (opcional), specialty (opcional)\nQuando usar: quando o paciente quiser saber quais horários estão disponíveis.\n\n🗓️ Agendar Consulta\nCria um novo agendamento para o paciente.\nParâmetros obrigatórios: patient_phone, patient_name, dentist_id, date (YYYY-MM-DD), time (HH:MM)\nParâmetros opcionais: procedure_id, notes\nAtenção: confirme sempre a disponibilidade com Buscar Horários Disponíveis antes de agendar.\n\n📋 Consultar Agendamentos do Paciente\nLista os próximos agendamentos de um paciente (até 5 registros).\nParâmetros: patient_phone (obrigatório), status (opcional: agendado, confirmado, cancelado)\nQuando usar: quando o paciente perguntar sobre suas consultas marcadas.\n\n❌ Cancelar Consulta\nCancela um agendamento existente do paciente.\nParâmetros obrigatórios: appointment_id, patient_phone\nParâmetros opcionais: reason (motivo do cancelamento)\nAtenção: obtenha o appointment_id via Consultar Agendamentos do Paciente antes de cancelar.\n\n👨‍⚕️ Listar Dentistas e Procedimentos\nLista os profissionais ativos ou os procedimentos disponíveis no consultório. Retorna o preço base (preco_base) dos procedimentos quando cadastrado.\nParâmetros: type (dentistas | procedimentos, padrão: dentistas), specialty (filtro por especialidade), category (filtro por categoria de procedimento)\nQuando usar: OBRIGATÓRIO antes de mencionar qualquer preço ou procedimento. Também quando o paciente quiser conhecer os profissionais ou os serviços disponíveis.\n\n🏥 Listar Especialidades\nLista todas as especialidades disponíveis no consultório com os respectivos profissionais.\nNenhum parâmetro adicional necessário.\nQuando usar: quando o paciente não souber qual especialidade ou profissional procurar.\n\n💰 Resumo Financeiro do Paciente\nExibe o resumo financeiro do paciente: total cobrado, pago, pendente e próximos vencimentos.\nParâmetros: patient_phone (obrigatório)\nQuando usar: somente quando o paciente solicitar informações sobre pagamentos ou débitos.\n\n🔄 Reiniciar Conversa\nLimpa o histórico de contexto da IA para iniciar um novo atendimento do zero.\nParâmetros: session_id (automático)\nQuando usar: quando o paciente pedir para recomeçar ou houver confusão grave no contexto.\n\nMENSAGEM DO USUÁRIO:\nPerfil WhatsApp: {{ $('Mensagem Recebida').first().json.message_from_profile_name }}\nTelefone WhatsApp: {{ $('Mensagem Recebida').first().json.message_from }}\nTipo de mensagem: {{ $('Mensagem Recebida').first().json.message_type }}\nTexto enviado: {{ $json.chat_input }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        30704,
        12800
      ],
      "id": "ab857734-e1c9-43d1-8900-ad1d99a35c08",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "={{ $('Load Tenant Config').first().json.schema_name }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "conversas",
          "mode": "list",
          "cachedResultName": "conversas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Mensagem Recebida').item.json.message_from }}",
            "nome": "={{ $('Mensagem Recebida').item.json.message_from_profile_name }}",
            "mensagem": "={{ $('Mensagem Recebida').item.json.message_content }}",
            "resposta_ia": "={{ $json.output }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resposta_ia",
              "displayName": "resposta_ia",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contexto_rag",
              "displayName": "contexto_rag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data_hora",
              "displayName": "data_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "criado_em",
              "displayName": "criado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "atualizado_em",
              "displayName": "atualizado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        29424,
        13600
      ],
      "id": "6faa5277-48a1-412d-b3ba-fb684b83465f",
      "name": "Salvar Histórico de Conversa (reset)",
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "={{ $('Load Tenant Config').first().json.schema_name }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "conversas",
          "mode": "list",
          "cachedResultName": "conversas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Mensagem Recebida').first().json.message_from }}",
            "nome": "={{ $('Mensagem Recebida').first().json.message_from_profile_name }}",
            "mensagem": "={{ $('Unificar Mensagens').item.json.chat_input }}",
            "resposta_ia": "={{ $('AI Agent').first().json.output }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resposta_ia",
              "displayName": "resposta_ia",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contexto_rag",
              "displayName": "contexto_rag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data_hora",
              "displayName": "data_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "criado_em",
              "displayName": "criado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "atualizado_em",
              "displayName": "atualizado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        31232,
        12640
      ],
      "id": "f772d1f2-3348-495b-96f0-5710e98073b3",
      "name": "Salvar Histórico de Conversa",
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    }
  ],
  "pinData": {
    "Webhook Verificação Meta": [
      {
        "json": {
          "headers": {
            "host": "n8n.bahiati.cloud",
            "user-agent": "facebookplatform/1.0 (+http://developers.facebook.com)",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "x-forwarded-for": "173.252.95.9",
            "x-forwarded-host": "n8n.bahiati.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "0559ca9a5ebb",
            "x-real-ip": "173.252.95.9"
          },
          "params": {},
          "query": {
            "hub.mode": "subscribe",
            "hub.challenge": "156959548",
            "hub.verify_token": "6ce961fdd9922b34cd90560ac2825f72",
            "hub_mode": "subscribe",
            "hub_challenge": "156959548",
            "hub_verify_token": "6ce961fdd9922b34cd90560ac2825f72"
          },
          "body": {},
          "webhookUrl": "https://n8n.bahiati.cloud/webhook/whatsapp/politicos",
          "executionMode": "production"
        }
      }
    ],
    "Webhook Mensagens Recebidas": [
      {
        "json": {
          "headers": {
            "host": "n8n.bahiati.cloud",
            "user-agent": "facebookexternalua",
            "content-length": "555",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "content-type": "application/json",
            "x-forwarded-for": "173.252.95.19",
            "x-forwarded-host": "n8n.bahiati.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "0559ca9a5ebb",
            "x-hub-signature": "sha1=c780ba717a0e6cd61a372c8451cf089e3d634d83",
            "x-hub-signature-256": "sha256=d68dc9285755a0330846a51249bd255882b24f825a79bdf827b6661436987b28",
            "x-real-ip": "173.252.95.19"
          },
          "params": {},
          "query": {},
          "body": {
            "object": "whatsapp_business_account",
            "entry": [
              {
                "id": "1261733702613096",
                "changes": [
                  {
                    "value": {
                      "messaging_product": "whatsapp",
                      "metadata": {
                        "display_phone_number": "557182606057",
                        "phone_number_id": "1096184990247219"
                      },
                      "contacts": [
                        {
                          "profile": {
                            "name": "Dalí Freire"
                          },
                          "wa_id": "553496620569",
                          "user_id": "BR.4255431628102803"
                        }
                      ],
                      "messages": [
                        {
                          "from": "553496620569",
                          "from_user_id": "BR.4255431628102803",
                          "id": "wamid.HBgMNTUzNDk2NjIwNTY5FQIAEhgUM0FFQjU0RkM1NDNEOTZBNjdDRkUA",
                          "timestamp": "1778963199",
                          "text": {
                            "body": "Sou homem"
                          },
                          "type": "text"
                        }
                      ]
                    },
                    "field": "messages"
                  }
                ]
              }
            ]
          },
          "webhookUrl": "https://n8n.bahiati.cloud/webhook/whatsapp/clinicas",
          "executionMode": "production"
        },
        "binary": {
          "data": {
            "data": "eyJvYmplY3QiOiJ3aGF0c2FwcF9idXNpbmVzc19hY2NvdW50IiwiZW50cnkiOlt7ImlkIjoiMTI2MTczMzcwMjYxMzA5NiIsImNoYW5nZXMiOlt7InZhbHVlIjp7Im1lc3NhZ2luZ19wcm9kdWN0Ijoid2hhdHNhcHAiLCJtZXRhZGF0YSI6eyJkaXNwbGF5X3Bob25lX251bWJlciI6IjU1NzE4MjYwNjA1NyIsInBob25lX251bWJlcl9pZCI6IjEwOTYxODQ5OTAyNDcyMTkifSwiY29udGFjdHMiOlt7InByb2ZpbGUiOnsibmFtZSI6IkRhbFx1MDBlZCBGcmVpcmUifSwid2FfaWQiOiI1NTM0OTY2MjA1NjkiLCJ1c2VyX2lkIjoiQlIuNDI1NTQzMTYyODEwMjgwMyJ9XSwibWVzc2FnZXMiOlt7ImZyb20iOiI1NTM0OTY2MjA1NjkiLCJmcm9tX3VzZXJfaWQiOiJCUi40MjU1NDMxNjI4MTAyODAzIiwiaWQiOiJ3YW1pZC5IQmdNTlRVek5EazJOakl3TlRZNUZRSUFFaGdVTTBGRlFqVTBSa00xTkRORU9UWkJOamREUmtVQSIsInRpbWVzdGFtcCI6IjE3Nzg5NjMxOTkiLCJ0ZXh0Ijp7ImJvZHkiOiJTb3UgaG9tZW0ifSwidHlwZSI6InRleHQifV19LCJmaWVsZCI6Im1lc3NhZ2VzIn1dfV19",
            "mimeType": "application/json"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Executar Reset": {
      "main": [
        [
          {
            "node": "Restaurar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem de Reset": {
      "main": [
        [
          {
            "node": "Salvar Histórico de Conversa (reset)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Paciente": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Horários": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agendar Consulta": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar Consulta": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Agendamentos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Listar Dentistas/Procedimentos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Resumo Financeiro": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reiniciar Conversa": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Listar Especialidades": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Enviar Mensagem Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Tenant Config": {
      "main": [
        [
          {
            "node": "Tipo de Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Verificação Meta": {
      "main": [
        [
          {
            "node": "Token Válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Válido?": {
      "main": [
        [
          {
            "node": "Responder Verificação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Proibido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Mensagens Recebidas": {
      "main": [
        [
          {
            "node": "Mensagem Recebida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar tenant": {
      "main": [
        [
          {
            "node": "Aplicar Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aplicar Rate Limit": {
      "main": [
        [
          {
            "node": "Rate Limit Permitido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Permitido?": {
      "main": [
        [
          {
            "node": "Load Tenant Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Recebida": {
      "main": [
        [
          {
            "node": "Buscar tenant",
            "type": "main",
            "index": 0
          },
          {
            "node": "Responder 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Preparar Texto do Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download audio": {
      "main": [
        [
          {
            "node": "Baixar Áudio Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar Áudio Binary": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de Mensagem": {
      "main": [
        [
          {
            "node": "Preparar Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download audio",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Mensagem de Reset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Texto do Áudio": {
      "main": [
        [
          {
            "node": "Unificar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Texto": {
      "main": [
        [
          {
            "node": "Unificar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unificar Mensagens": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensagem Resposta": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurar Dados": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salvar Histórico de Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Histórico de Conversa (reset)": {
      "main": [
        [
          {
            "node": "Executar Reset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contexto do Usuário": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Preferência do Usuário": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Recado ao Time Humano": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2c7cbe19-1697-4658-a42b-0174cdc95289",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d07a57d7c2add559a13f166055a90b89bb4e767a13639a3a9399707bf04755c3"
  },
  "id": "EzNrHyxPlJ4dzDslolMGS",
  "tags": []
}