n8n/WhatsApp - Assistente Clínica.json
{
  "name": "WhatsApp - Assistente Clínicas",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM clinicas.get_professional_context($1);",
        "options": {
          "queryReplacement": "={{ $json.tenant_code }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1872,
        896
      ],
      "id": "03152edd-e68d-40ee-9b9f-8a5608de256a",
      "name": "Load Tenant Config",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Compose 5-layer AI prompt from tenant configuration\nconst config = $input.first().json;\n\n// Layer 1: Base Product Prompt (shared across all tenants)\nconst basePrompt = `Você é um assistente virtual para consultório de saúde. Você é educado, profissional, acolhedor e eficiente. Responda sempre em português brasileiro.\n\n══════════════════════════════════════\n📋 PROTOCOLOS GERAIS\n══════════════════════════════════════\n1. Respostas breves e diretas para WhatsApp (máximo 4-5 linhas por mensagem)\n2. Use emojis com moderação para melhorar legibilidade\n3. Sempre confirme dados antes de executar ações (agendar, cancelar)\n4. NUNCA invente informações médicas - quando não souber, direcione ao profissional\n5. Mantenha sigilo sobre dados de outros pacientes\n6. Se não encontrar o paciente no sistema, trate como novo paciente\n7. Não seja repetitiva\n8. Mensagens de áudio são automaticamente transcritas para texto`;\n\n// Layer 2: Clinic Context\nconst clinicContext = config.organization_name ? `\n\n══════════════════════════════════════\n🏥 INFORMAÇÕES DO CONSULTÓRIO\n══════════════════════════════════════\n- Clínica: ${config.organization_name}\n- Endereço: ${config.organization_address || 'Não informado'}\n- Telefone: ${config.organization_phone || 'Não informado'}\n- Horário: ${JSON.stringify(config.organization_hours) || 'Consulte o consultório'}\n- Instagram: ${config.organization_instagram ? '@' + config.organization_instagram : 'Não informado'}` : '';\n\n// Layer 3: Professional Context\nconst professionalContext = `\n\n══════════════════════════════════════\n👨‍⚕️ PROFISSIONAL\n══════════════════════════════════════\n- Nome: ${config.full_name || config.nome || 'Profissional'}\n- Especialidades: ${Array.isArray(config.specialties) ? config.specialties.join(', ') : (config.specialties || 'Geral')}\n- Registro: ${config.credential_type || ''} ${config.credential_number || 'N/A'}`;\n\n// Layer 4: Assistant Persona (from prompt_config JSON)\nconst promptConfig = config.prompt_config || {};\nconst assistantName = config.assistant_persona_name || 'Assistente Virtual';\nconst assistantTone = config.assistant_tone || 'profissional e acolhedor';\n\nconst personaContext = `\n\n══════════════════════════════════════\n🤖 SUA IDENTIDADE\n══════════════════════════════════════\nVocê é ${assistantName}, assistente virtual deste consultório.\nPersonalidade: ${assistantTone}`;\n\n// Layer 5: Service Context & Tools\nconst toolsContext = `\n\n══════════════════════════════════════\n🛠️ FERRAMENTAS DISPONÍVEIS\n══════════════════════════════════════\nUse as ferramentas disponíveis para:\n- Buscar dados de pacientes\n- Verificar horários disponíveis\n- Agendar consultas\n- Consultar agendamentos\n- Gerenciar informações\n\nSempre confirme os dados antes de executar ações.`;\n\n// Compose final prompt\nconst fullPrompt = basePrompt + clinicContext + professionalContext + personaContext + toolsContext + `\n\nCONTEXTO DA BASE DE CONHECIMENTO:\n{{ $json.rag_context }}\n\nMENSAGEM DO USUÁRIO:\nPerfil WhatsApp: {{ $('Validar Dados da Mensagem').first().json.sender_name }}\nTelefone WhatsApp: {{ $('Validar Dados da Mensagem').first().json.sender_phone }}\nTipo de mensagem: {{ $('Validar Dados da Mensagem').first().json.message_type }}\nTexto enviado: {{ $('Validar Dados da Mensagem').first().json.message_text }}`;\n\nreturn [{ json: { \n    full_prompt: fullPrompt,\n    professional_id: config.professional_id,\n    tenant_code: config.tenant_code,\n    schema_name: config.schema_name,\n    whatsapp_instance_id: config.whatsapp_instance_id\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1632,
        1168
      ],
      "id": "5d7dc067-0775-45ba-a3ef-eaae3e27f0da",
      "name": "Compose AI Prompt"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "gpt-5.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        0,
        1104
      ],
      "id": "1e8ff81c-a2d8-44e6-9bc9-85fa644cb4df",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kmLkZlPEGiCdUTbM",
          "name": "OpenAi: Clinicas"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Mensagem Recebida').first().json.session_id }}",
        "tableName": "={{ $(\"Load Tenant Config\").first().json.schema_name }}.n8n_chat_histories",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        144,
        1104
      ],
      "id": "ca1c5996-cd79-40f1-b7d8-76550d1c5376",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        272,
        1392
      ],
      "id": "b1b1fa62-0e6b-4781-947d-a4752eb48727",
      "name": "Think"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        272,
        1104
      ],
      "id": "0cf509e9-1bb2-44f5-87e7-759f2ab76a88",
      "name": "Date & Time"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        272,
        1248
      ],
      "id": "f839f113-1c64-41d6-a1a4-278ce87566f5",
      "name": "Calculator"
    },
    {
      "parameters": {
        "name": "buscar_paciente",
        "description": "=Busca dados do paciente pelo número de telefone. Retorna nome, alergias, condições médicas, convênio, histórico de consultas e tratamentos ativos. Use quando precisar identificar o paciente ou ver informações dele.",
        "workflowId": {
          "__rl": true,
          "value": "=lTaS2twY8A-3Zkwz6iCAk",
          "mode": "id",
          "cachedResultUrl": "/workflow/=lTaS2twY8A-3Zkwz6iCAk"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "patient_phone": "={{ $('Mensagem Recebida').first().json.message_from }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        656,
        1104
      ],
      "id": "7bf9795e-a695-4b77-a235-943f8cb16dd0",
      "name": "Buscar Paciente"
    },
    {
      "parameters": {
        "name": "buscar_horarios_disponiveis",
        "description": "Busca horários disponíveis de dentistas para uma data específica. Pode filtrar por dentista (dentist_id) ou especialidade.",
        "workflowId": {
          "__rl": true,
          "value": "=2YelpHyxOWru-WvXVobgh",
          "mode": "id",
          "cachedResultUrl": "/workflow/=2YelpHyxOWru-WvXVobgh"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "specialty": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('specialty', `Especialidade para filtrar horários (opcional)`, 'string', '') }}",
            "date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}",
            "dentist_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dentist_id', `ID do dentista para filtrar horários (opcional)`, 'string', '') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "dentist_id",
              "displayName": "dentist_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "specialty",
              "displayName": "specialty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        976,
        1296
      ],
      "id": "4f508e81-eac8-45a8-b8ec-ab79038988ff",
      "name": "Buscar Horários"
    },
    {
      "parameters": {
        "name": "agendar_consulta",
        "description": "Cria um novo agendamento de consulta odontológica. IMPORTANTE: só use após confirmar TODOS os dados com o paciente.",
        "workflowId": {
          "__rl": true,
          "value": "=DGFmV2DcLn5Hr87SG-M6w",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "patient_phone": "={{ $('Mensagem Recebida').first().json.message_from }}",
            "patient_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('patient_name', `Nome completo do paciente`, 'string') }}",
            "dentist_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dentist_id', `ID do dentista`, 'string') }}",
            "procedure_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('procedure_id', `ID do procedimento (opcional)`, 'string', '') }}",
            "date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', `Data da consulta no formato YYYY-MM-DD`, 'string') }}",
            "time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('time', `Horário da consulta no formato HH:MM`, 'string') }}",
            "notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('notes', `Observações opcionais sobre a consulta`, 'string', '') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "patient_name",
              "displayName": "patient_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "dentist_id",
              "displayName": "dentist_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "procedure_id",
              "displayName": "procedure_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1024,
        1104
      ],
      "id": "dbae3368-492f-4046-9fdc-597c91113c91",
      "name": "Agendar Consulta"
    },
    {
      "parameters": {
        "name": "cancelar_consulta",
        "description": "Cancela um agendamento existente. Precisa do ID do agendamento e do telefone do paciente para validação.",
        "workflowId": {
          "__rl": true,
          "value": "=7cNVINCL9vWl7E091-Bsv",
          "mode": "id",
          "cachedResultUrl": "/workflow/=7cNVINCL9vWl7E091-Bsv"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "appointment_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointment_id', ``, 'string') }}",
            "patient_phone": "={{ $('Mensagem Recebida').first().json.message_from }}",
            "reason": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reason', `Motivo do cancelamento (opcional)`, 'string', '') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1152,
        1296
      ],
      "id": "c9f12e17-ab36-45a9-b44f-2e698c56eb62",
      "name": "Cancelar Consulta"
    },
    {
      "parameters": {
        "name": "consultar_agendamentos",
        "description": "Lista os próximos agendamentos futuros de um paciente. Retorna data, horário, dentista, procedimento e status.",
        "workflowId": {
          "__rl": true,
          "value": "=-lhyMHdd3_inlBq3iXnZc",
          "mode": "id",
          "cachedResultUrl": "/workflow/=-lhyMHdd3_inlBq3iXnZc"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "patient_phone": "={{ $('Mensagem Recebida').item.json.message_from }}",
            "status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('status', `Status do agendamento para filtrar (opcional)`, 'string', '') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1184,
        1088
      ],
      "id": "7b1cfbcd-35eb-4cd0-95ac-121bc974abd8",
      "name": "Consultar Agendamentos"
    },
    {
      "parameters": {
        "name": "listar_dentistas_procedimentos",
        "description": "Lista dentistas disponíveis ou procedimentos odontológicos oferecidos. Para dentistas, retorna nome, CRO e especialidades. Para procedimentos, retorna nome, categoria, duração e preço.",
        "workflowId": {
          "__rl": true,
          "value": "={{'kD2fs_WAae3V2DLLHAAe9'}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('type', `'dentistas' ou 'procedimentos'`, 'string', 'dentistas') }}",
            "specialty": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('specialty', `Especialidade para filtrar dentistas (opcional)`, 'string', '') }}",
            "category": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('category', `Categoria para filtrar procedimentos (opcional)`, 'string', '') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "specialty",
              "displayName": "specialty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        816,
        1360
      ],
      "id": "6308aa32-5721-4270-adfe-41aa2fb0317f",
      "name": "Listar Dentistas/Procedimentos"
    },
    {
      "parameters": {
        "name": "resumo_financeiro",
        "description": "Retorna o resumo financeiro do paciente: total cobrado, pago, pendente, atrasado e próximos vencimentos.",
        "workflowId": {
          "__rl": true,
          "value": "=7p-QuU6PC9dXHq_4t-DEv",
          "mode": "id",
          "cachedResultUrl": "/workflow/=7p-QuU6PC9dXHq_4t-DEv"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "patient_phone": "={{ $('Mensagem Recebida').first().json.message_from }}"
          },
          "matchingColumns": [
          ],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1344,
        1168
      ],
      "id": "933d27d7-a083-45b9-b48e-2d1097832746",
      "name": "Resumo Financeiro"
    },
    {
      "parameters": {
        "name": "reiniciar_conversa",
        "description": "Reinicia a conversa do paciente, limpando todo o histórico e contexto anterior. Use quando o paciente pedir para reiniciar, limpar ou começar uma nova conversa.",
        "workflowId": {
          "__rl": true,
          "value": "=PDkFS5em9NgG0vKPUMMYb",
          "mode": "id",
          "cachedResultUrl": "/workflow/=PDkFS5em9NgG0vKPUMMYb"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "session_id": "={{ $('Mensagem Recebida').first().json.session_id }}"
          },
          "matchingColumns": [
            "patient_phone"
          ],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        640,
        1360
      ],
      "id": "55857f6b-ace7-4934-8767-63fe27c84dc7",
      "name": "Reiniciar Conversa"
    },
    {
      "parameters": {
        "name": "listar_especialidades",
        "description": "Lista todas as especialidades odontológicas disponíveis no consultório, com os dentistas que atendem cada uma. Use antes de buscar horários quando o paciente não especificar um dentista, para identificar qual especialidade e profissional atendem o procedimento desejado.",
        "workflowId": {
          "__rl": true,
          "value": "=Tn8tMYgL5SUiJgj-Il-W-",
          "mode": "id",
          "cachedResultUrl": "/workflow/=Tn8tMYgL5SUiJgj-Il-W-"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        832,
        1088
      ],
      "id": "013390c3-a8e6-48d6-93af-b75aa85a235c",
      "name": "Listar Especialidades"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM {{ $(\"Load Tenant Config\").first().json.schema_name }}.reiniciar_conversa($1::varchar);",
        "options": {
          "queryReplacement": "={{ $('Mensagem Recebida').item.json.session_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -544,
        1648
      ],
      "id": "f6bfdb5e-b283-425e-ab7f-be92017593ad",
      "name": "Executar Reset",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = `✨ Conversa reiniciada com sucesso!\n\nSeu histórico de conversa foi limpo e estou disponível para um novo atendimento.\n\nComo posso ajudar você hoje? 😊`;\n\nreturn [{ json: { output } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        1648
      ],
      "id": "492b126c-ed0f-48fd-b891-6b19cb7148c6",
      "name": "Mensagem de Reset"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "={{ $('Load Tenant Config').first().json.schema_name }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "conversas",
          "mode": "list",
          "cachedResultName": "conversas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Mensagem Recebida').first().json.message_from }}",
            "nome": "={{ $('Mensagem Recebida').first().json.message_from_profile_name }}",
            "mensagem": "={{ $('Unificar Mensagens').item.json.chat_input }}",
            "resposta_ia": "={{ $('AI Agent').first().json.output }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resposta_ia",
              "displayName": "resposta_ia",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contexto_rag",
              "displayName": "contexto_rag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data_hora",
              "displayName": "data_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "criado_em",
              "displayName": "criado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "atualizado_em",
              "displayName": "atualizado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        960,
        688
      ],
      "id": "c9a5735d-97a8-40ee-80e3-b6eb5648ccd7",
      "name": "Salvar Conversa no BD",
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Recebe o texto de entrada\nconst texto = $input.first().json.output;\n\n// Divide o texto apenas pela sequência de barra invertida dupla (\\n\\n)\nconst itens = texto.split(/\\n\\n/);\n\n// Retorna cada item como um objeto separado, filtrando itens vazios\nreturn itens\n  .filter(item => item.trim() !== \"\")\n  .map(item => ({ item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2896,
        800
      ],
      "id": "0f075098-7cc3-43ca-9db1-2c19415f3e6a",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3312,
        800
      ],
      "id": "852a0e9f-af65-41a3-9688-d445e2e18f88",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "path": "whatsapp/clinicas",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "05ad47a4-51fe-4e71-b98d-d7be64426228",
      "name": "Webhook Verificação Meta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2704,
        1328
      ],
      "webhookId": "meta-verification-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "verify-token-check",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "6ce961fdd9922b34cd90560ac2825f72",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aba86348-eef0-495d-affb-0fe85a388034",
      "name": "Token Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2480,
        1328
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Webhook Verificação Meta').first().json.query['hub.challenge'] }}",
        "options": {}
      },
      "id": "947ce08b-a7cf-4b41-aa09-2d2d55181d69",
      "name": "Responder Verificação",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2256,
        1200
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Forbidden",
        "options": {
          "responseCode": 403
        }
      },
      "id": "f640fae9-5486-45ba-a017-b556288b4ec1",
      "name": "Responder Proibido",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2256,
        1440
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "0a55bb6e-86d2-4438-9b25-a18ddab92868",
      "name": "Responder 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -2128,
        496
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp/clinicas",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "7f38fb32-011d-482c-8731-1d0ac5ee18e2",
      "name": "Webhook Mensagens Recebidas",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2688,
        688
      ],
      "webhookId": "joao-leao-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * \nFROM clinicas.tenants\nWHERE whatsapp_phone_e164 = $1\nORDER BY tenant_code\nLIMIT 1",
        "options": {
          "queryReplacement": "={{ $json.whatsapp_phone_number }}"
        }
      },
      "id": "d17c22f6-ac97-4920-976f-aaee78371989",
      "name": "Buscar tenant",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2128,
        896
      ],
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extrair dados da mensagem recebida via API Oficial do WhatsApp (Meta Cloud API)\nconst body = $input.first().json.body || $input.first().json;\n\n// Validar que é um webhook do WhatsApp Business\nif (body.object !== 'whatsapp_business_account') {\n  return [];\n}\n\n// Extrair a primeira entrada e mudança\nconst entry = (body.entry || [])[0];\nif (!entry) return [];\n\nconst change = (entry.changes || [])[0];\nif (!change || change.field !== 'messages') return [];\n\nconst value = change.value || {};\nconst metadata = value.metadata || {};\n\n// Extrair mensagem (ignorar status/delivery receipts)\nconst messages = value.messages || [];\nif (messages.length === 0) return [];\n\nconst msg = messages[0];\nconst contacts = value.contacts || [];\nconst contact = contacts[0] || {};\n\n// Dados do remetente\nconst message_from = msg.from || '';\nconst message_from_profile_name = contact.profile?.name || '';\nconst message_id = msg.id || '';\nconst whatsapp_phone_number = metadata.display_phone_number || '';\nconst whatsapp_phone_number_id = metadata.phone_number_id || '';\n\n// Determinar tipo da mensagem\nlet message_type = 'text';\nlet message_content = '';\nlet media_mimetype = '';\nlet media_caption = '';\nlet media_id = '';\n\nif (msg.type === 'audio') {\n  message_type = 'audio';\n  media_mimetype = msg.audio?.mime_type || 'audio/ogg';\n  media_id = msg.audio?.id || '';\n} else if (msg.type === 'image') {\n  message_type = 'image';\n  media_mimetype = msg.image?.mime_type || 'image/jpeg';\n  media_caption = msg.image?.caption || '';\n  media_id = msg.image?.id || '';\n} else if (msg.type === 'text') {\n  message_content = msg.text?.body || '';\n} else if (msg.type === 'interactive') {\n  message_content = msg.interactive?.button_reply?.title || msg.interactive?.list_reply?.title || '';\n} else if (msg.type === 'button') {\n  message_content = msg.button?.text || '';\n} else {\n  // Tipo não suportado\n  return [];\n}\n\n// Detectar comandos de reset da conversa\nconst resetCommands = ['/limpar', '/reset', '/reiniciar', '/nova conversa', '/novo', 'nova conversa', 'limpar conversa', '#reiniciar', '#reset', '#limpar', 'reiniciar conversa', 'recomeçar conversa', 'recomecar conversa', 'começar denovo', 'comecar denovo'];\n\nconst normalizedContent = message_content.trim().toLowerCase();\nif (resetCommands.includes(normalizedContent)) {\n  message_type = 'reset';\n}\n\n// Montar sessionId: telefone do assistente + telefone do usuário\nconst session_id = whatsapp_phone_number + '|' + message_from;\n\nreturn [{\n  json: {\n    message_type,\n    message_content,\n    media_mimetype,\n    media_caption,\n    media_id,\n    message_from,\n    message_from_profile_name,\n    message_id,\n    session_id, \n    whatsapp_phone_number,\n    whatsapp_phone_number_id,\n    raw_message: msg\n  }\n}];"
      },
      "id": "b731f669-5c9f-404d-85a5-29de1ced50b6",
      "name": "Mensagem Recebida",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2432,
        688
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Mensagem Recebida').first().json.message_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cf81eb9f-7dd5-4e3a-88c8-681f5a3330e4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Mensagem Recebida').first().json.message_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "048defe2-b01a-4bbd-ab11-491624c3703f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Mensagem Recebida').first().json.message_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "18f9a41a-acae-4195-9f6c-033ba9418cc0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Mensagem Recebida').first().json.message_type }}",
                    "rightValue": "reset",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "306a1fa2-db9a-41b4-a901-fc7bc175691f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reset"
            }
          ]
        },
        "options": {}
      },
      "id": "da8b8057-ab2b-43b4-ad9e-792a26bc1822",
      "name": "Tipo de Mensagem",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1584,
        864
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar texto transcrito do áudio para o agente IA\nconst transcription = $input.first().json.text || '';\nconst originalData = $('Mensagem Recebida').first().json;\n\nconst transcription_text = (transcription && transcription.trim()) \n      ? transcription.trim()\n      : '[Áudio recebido mas não foi possível transcrever. Por favor, envie em texto.]'\n\nreturn [{\n  json: {\n    ...originalData,\n    message_type: 'audio',\n    chat_input: `[Mensagem de áudio transcrita]: ${transcription_text}`,\n    original_transcription: transcription_text\n  }\n}];"
      },
      "id": "edb4fd1e-d38c-427a-bf41-7bf7c943459c",
      "name": "Preparar Texto do Áudio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        768
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -640,
        768
      ],
      "id": "2be9bd10-f5ed-45b1-8c55-c6dd131a2888",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "mBrIhUVilYC9NHDM",
          "name": "OpenAI: politicos"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('Mensagem Recebida').first().json.media_id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -1136,
        768
      ],
      "id": "b21765af-3e29-43ae-908e-6f0c29e1ed8d",
      "name": "Download audio",
      "webhookId": "da1b6a8d-7add-451c-8800-5f319f5e8372",
      "credentials": {
        "whatsAppApi": {
          "id": "QEdJvd4UlIJ2xjVE",
          "name": "Tenóbio - WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        768
      ],
      "id": "3f854775-cc50-4144-8c3b-6a48ee8d4f4a",
      "name": "Baixar Áudio Binary",
      "credentials": {
        "whatsAppApi": {
          "id": "QEdJvd4UlIJ2xjVE",
          "name": "Tenóbio - WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Restaurar dados originais da mensagem recebida\nconst originalData = $('Mensagem Recebida').first().json;\n\n// Unificar todas as mensagens (texto, áudio, imagem) para o agente IA\nconst item = $input.first().json;\n\nreturn [{\n  json: {\n    ...item,\n    ...originalData\n  }\n}];"
      },
      "id": "52d4a1a1-48a1-4a19-9d32-e436a34f922f",
      "name": "Unificar Mensagens",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        848
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar mensagem de texto para o agente IA\nconst originalData = $('Mensagem Recebida').first().json;\nconst messageContent = originalData.message_content\n\nreturn [{\n  json: {\n    ...originalData,\n    chat_input: messageContent,\n    message_type: 'text'\n  }\n}];"
      },
      "id": "62518e95-7c6c-423a-ae4f-4b4eb7fa843a",
      "name": "Preparar Texto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        288
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "={{ $('Load Tenant Config').first().json.schema_name }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "conversas",
          "mode": "list",
          "cachedResultName": "conversas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Mensagem Recebida').item.json.message_from }}",
            "nome": "={{ $('Mensagem Recebida').item.json.message_from_profile_name }}",
            "mensagem": "={{ $('Mensagem Recebida').item.json.message_content }}",
            "resposta_ia": "={{ $json.output }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resposta_ia",
              "displayName": "resposta_ia",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contexto_rag",
              "displayName": "contexto_rag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data_hora",
              "displayName": "data_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "criado_em",
              "displayName": "criado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "atualizado_em",
              "displayName": "atualizado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -848,
        1648
      ],
      "id": "fe67445a-d7a8-41bd-afab-8a43c477a697",
      "name": "Salvar Histórico de Conversa",
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Mensagem Recebida').first().json.whatsapp_phone_number_id }}",
        "recipientPhoneNumber": "={{ $('Mensagem Recebida').first().json.message_from }}",
        "textBody": "={{ $json.item }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        3600,
        816
      ],
      "id": "209ad874-7780-403b-8800-851705a30f05",
      "name": "Enviar Mensagem Resposta",
      "webhookId": "cd14995a-7e3e-45d5-b337-1d094a35d364",
      "credentials": {
        "whatsAppApi": {
          "id": "QEdJvd4UlIJ2xjVE",
          "name": "Tenóbio - WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Restaurar dados originais da mensagem recebida\nconst originalData = $('Mensagem Recebida').first().json;\n\n// Mensagem de reset\nconst mensagemReset = $('Mensagem de Reset').first().json;\n\nreturn [{\n  json: {\n    ...mensagemReset,\n    ...originalData\n  }\n}];"
      },
      "id": "2d5b3d67-dbb2-4ad1-b970-c9a1e7a3b5b7",
      "name": "Restaurar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        1648
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Busca informações na base de conhecimento oficial do {{ $('Buscar tenant').first().json.organization_name }}. Use esta ferramenta para encontrar dados sobre sua trajetória política, mandatos, comissões, áreas de atuação, bandeiras, experiência empresarial, cargos executivos e contexto eleitoral para as próximas eleições. Sempre consulte esta ferramenta antes de responder perguntas sobre {{ $('Buscar tenant').first().json.nome }}. ",
        "tableName": "={{ $('Load Tenant Config').first().json.schema_name }}.documentos",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1424,
        976
      ],
      "id": "65f9ad3d-f5e6-4334-9682-c93f0fc6f089",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1520,
        1184
      ],
      "id": "88b305b3-8271-4ca0-8fb6-6bb5694e4e51",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "mBrIhUVilYC9NHDM",
          "name": "OpenAI: politicos"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chat_input }}",
        "options": {
          "systemMessage": "=Você é um assistente virtual para consultório de saúde. Você é educado, profissional, acolhedor e eficiente. Responda sempre em português brasileiro.\n\n══════════════════════════════════════\n📋 PROTOCOLOS GERAIS\n══════════════════════════════════════\n1. Respostas breves e diretas para WhatsApp (máximo 4-5 linhas por mensagem)\n2. Use emojis com moderação para melhorar legibilidade\n3. Sempre confirme dados antes de executar ações (agendar, cancelar)\n4. NUNCA invente informações médicas - quando não souber, direcione ao profissional\n5. Mantenha sigilo sobre dados de outros pacientes\n6. Se não encontrar o paciente no sistema, trate como novo paciente\n7. Não seja repetitivo\n8. Mensagens de áudio são automaticamente transcritas para texto\n\n══════════════════════════════════════\n🏥 INFORMAÇÕES DO CONSULTÓRIO\n══════════════════════════════════════\n- Clínica: {{ $('Buscar tenant').first().json.organization_name }}\n- Endereço: {{ $('Buscar tenant').first().json.organization_address }}\n- Telefone: {{ $('Buscar tenant').first().json.organization_phone }}\n- Horário: {{ JSON.stringify($('Buscar tenant').first().json.organization_hours)}}\n- Instagram: {{ $('Buscar tenant').first().json.organization_instagram }}\n\n══════════════════════════════════════\n👨‍⚕️ PROFISSIONAL\n══════════════════════════════════════\n- Nome: {{ $('Buscar tenant').first().json.full_name }}\n- Especialidades: {{ JSON.stringify($('Buscar tenant').first().json.specialties)}}\n- Registro: {{ $('Buscar tenant').first().json.credential_type }} {{ $('Buscar tenant').first().json.credential_number }}\n\n══════════════════════════════════════\n🤖 SUA IDENTIDADE\n══════════════════════════════════════\nVocê é {{ $('Buscar tenant').first().json.assistant_persona_name }}, assistente virtual deste consultório.\nPersonalidade: {{ $('Buscar tenant').first().json.assistant_tone }}\n\n══════════════════════════════════════\n🛠️ FERRAMENTAS DISPONÍVEIS\n══════════════════════════════════════\nUse as ferramentas disponíveis para:\\n- Buscar dados de pacientes\n- Verificar horários disponíveis\n- Agendar consultas\n- Consultar agendamentos\n- Gerenciar informações\n\nSempre confirme os dados antes de executar ações.\n\nMENSAGEM DO USUÁRIO:\nPerfil WhatsApp: {{ $('Mensagem Recebida').first().json.message_from_profile_name }}\nTelefone WhatsApp: {{ $('Mensagem Recebida').first().json.message_from }}\nTipo de mensagem: {{ $('Mensagem Recebida').first().json.message_type }}\nTexto enviado: {{ $json.chat_input }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        432,
        848
      ],
      "id": "19144e0c-815c-4ab3-acba-ba7d8bb91a19",
      "name": "AI Agent"
    }
  ],
  "pinData": {
    "Webhook Verificação Meta": [
      {
        "json": {
          "headers": {
            "host": "n8n.bahiati.cloud",
            "user-agent": "facebookplatform/1.0 (+http://developers.facebook.com)",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "x-forwarded-for": "173.252.95.9",
            "x-forwarded-host": "n8n.bahiati.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "0559ca9a5ebb",
            "x-real-ip": "173.252.95.9"
          },
          "params": {},
          "query": {
            "hub.mode": "subscribe",
            "hub.challenge": "156959548",
            "hub.verify_token": "6ce961fdd9922b34cd90560ac2825f72",
            "hub_mode": "subscribe",
            "hub_challenge": "156959548",
            "hub_verify_token": "6ce961fdd9922b34cd90560ac2825f72"
          },
          "body": {},
          "webhookUrl": "https://n8n.bahiati.cloud/webhook/whatsapp/politicos",
          "executionMode": "production"
        }
      }
    ],
    "Webhook Mensagens Recebidas": [
      {
        "json": {
          "headers": {
            "host": "n8n.bahiati.cloud",
            "user-agent": "facebookexternalua",
            "content-length": "575",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "content-type": "application/json",
            "x-forwarded-for": "173.252.127.3",
            "x-forwarded-host": "n8n.bahiati.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "0559ca9a5ebb",
            "x-hub-signature": "sha1=bd1c7351170ecb6ebb8850f77c2f328b06d394a6",
            "x-hub-signature-256": "sha256=176ea1f2823ddb1784f26311cb1c4c14df02d4bda13fcbfe678144b376506823",
            "x-real-ip": "173.252.127.3"
          },
          "params": {},
          "query": {},
          "body": {
            "object": "whatsapp_business_account",
            "entry": [
              {
                "id": "1867220087308937",
                "changes": [
                  {
                    "value": {
                      "messaging_product": "whatsapp",
                      "metadata": {
                        "display_phone_number": "5571920043588",
                        "phone_number_id": "1009612668913026"
                      },
                      "contacts": [
                        {
                          "profile": {
                            "name": "Dalí Freire"
                          },
                          "wa_id": "553496620569",
                          "user_id": "BR.4255431628102803"
                        }
                      ],
                      "messages": [
                        {
                          "from": "553496620569",
                          "from_user_id": "BR.4255431628102803",
                          "id": "wamid.HBgMNTUzNDk2NjIwNTY5FQIAEhgUM0IxRDdBMDY5NzcyRDc1MjE0MEQA",
                          "timestamp": "1778823887",
                          "text": {
                            "body": "quais dentistas disponiveis?"
                          },
                          "type": "text"
                        }
                      ]
                    },
                    "field": "messages"
                  }
                ]
              }
            ]
          },
          "webhookUrl": "https://n8n.bahiati.cloud/webhook/whatsapp/clinicas",
          "executionMode": "production"
        },
        "binary": {
          "data": {
            "data": "eyJvYmplY3QiOiJ3aGF0c2FwcF9idXNpbmVzc19hY2NvdW50IiwiZW50cnkiOlt7ImlkIjoiMTg2NzIyMDA4NzMwODkzNyIsImNoYW5nZXMiOlt7InZhbHVlIjp7Im1lc3NhZ2luZ19wcm9kdWN0Ijoid2hhdHNhcHAiLCJtZXRhZGF0YSI6eyJkaXNwbGF5X3Bob25lX251bWJlciI6IjU1NzE5MjAwNDM1ODgiLCJwaG9uZV9udW1iZXJfaWQiOiIxMDA5NjEyNjY4OTEzMDI2In0sImNvbnRhY3RzIjpbeyJwcm9maWxlIjp7Im5hbWUiOiJEYWxcdTAwZWQgRnJlaXJlIn0sIndhX2lkIjoiNTUzNDk2NjIwNTY5IiwidXNlcl9pZCI6IkJSLjQyNTU0MzE2MjgxMDI4MDMifV0sIm1lc3NhZ2VzIjpbeyJmcm9tIjoiNTUzNDk2NjIwNTY5IiwiZnJvbV91c2VyX2lkIjoiQlIuNDI1NTQzMTYyODEwMjgwMyIsImlkIjoid2FtaWQuSEJnTU5UVXpORGsyTmpJd05UWTVGUUlBRWhnVU0wSXhSRGRCTURZNU56Y3lSRGMxTWpFME1FUUEiLCJ0aW1lc3RhbXAiOiIxNzc4ODIzODg3IiwidGV4dCI6eyJib2R5IjoicXVhaXMgZGVudGlzdGFzIGRpc3Bvbml2ZWlzPyJ9LCJ0eXBlIjoidGV4dCJ9XX0sImZpZWxkIjoibWVzc2FnZXMifV19XX0=",
            "mimeType": "application/json"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Executar Reset": {
      "main": [
        [
          {
            "node": "Restaurar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem de Reset": {
      "main": [
        [
          {
            "node": "Salvar Histórico de Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Paciente": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Horários": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agendar Consulta": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar Consulta": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Agendamentos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Listar Dentistas/Procedimentos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Resumo Financeiro": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reiniciar Conversa": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Listar Especialidades": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Enviar Mensagem Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Tenant Config": {
      "main": [
        [
          {
            "node": "Tipo de Mensagem",
            "type": "main",
            "index": 0
          },
          {
            "node": "Compose AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Verificação Meta": {
      "main": [
        [
          {
            "node": "Token Válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Válido?": {
      "main": [
        [
          {
            "node": "Responder Verificação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Proibido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Mensagens Recebidas": {
      "main": [
        [
          {
            "node": "Mensagem Recebida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar tenant": {
      "main": [
        [
          {
            "node": "Load Tenant Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Recebida": {
      "main": [
        [
          {
            "node": "Buscar tenant",
            "type": "main",
            "index": 0
          },
          {
            "node": "Responder 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Preparar Texto do Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download audio": {
      "main": [
        [
          {
            "node": "Baixar Áudio Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar Áudio Binary": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de Mensagem": {
      "main": [
        [
          {
            "node": "Preparar Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download audio",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Mensagem de Reset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Texto do Áudio": {
      "main": [
        [
          {
            "node": "Unificar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Texto": {
      "main": [
        [
          {
            "node": "Unificar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unificar Mensagens": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensagem Resposta": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Histórico de Conversa": {
      "main": [
        [
          {
            "node": "Executar Reset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurar Dados": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salvar Conversa no BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "bceb35c0-7423-484b-94e3-a119db44465e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d07a57d7c2add559a13f166055a90b89bb4e767a13639a3a9399707bf04755c3"
  },
  "id": "EzNrHyxPlJ4dzDslolMGS",
  "tags": []
}