n8n/WhatsApp - Assistente Clínica.json
{
  "name": "WhatsApp - Assistente Clínicas",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM clinicas.get_professional_context($1);",
        "options": {
          "queryReplacement": "={{ $json.tenant_code }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        16928,
        7520
      ],
      "id": "9afba02c-e098-4eab-b1a7-c33cfa925c3e",
      "name": "Load Tenant Config",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "gpt-5.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        18800,
        7728
      ],
      "id": "0625b1e1-bc48-4dd4-b198-7ad8191cb899",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kmLkZlPEGiCdUTbM",
          "name": "OpenAi: Clinicas"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Mensagem Recebida').first().json.session_id }}",
        "tableName": "={{ $(\"Load Tenant Config\").first().json.schema_name }}.n8n_chat_histories",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        18944,
        7728
      ],
      "id": "6f32a38f-ba29-4ddd-a028-e7bf9ffd615f",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        19072,
        8016
      ],
      "id": "a67fcd91-2b9e-4137-ae73-d8c539eb59f8",
      "name": "Think"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        19072,
        7728
      ],
      "id": "ae86e9f8-e70f-4a56-86e6-e74bfe6282f9",
      "name": "Date & Time"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        19072,
        7872
      ],
      "id": "00c1588b-9c1f-4ed3-91fa-892158d7a071",
      "name": "Calculator"
    },
    {
      "parameters": {
        "name": "buscar_paciente",
        "description": "=Busca dados do paciente pelo número de telefone. Retorna nome, alergias, condições médicas, convênio, histórico de consultas e tratamentos ativos. Use quando precisar identificar o paciente ou ver informações dele.",
        "workflowId": {
          "__rl": true,
          "value": "=lTaS2twY8A-3Zkwz6iCAk",
          "mode": "id",
          "cachedResultUrl": "/workflow/=lTaS2twY8A-3Zkwz6iCAk"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "patient_phone": "={{ $('Mensagem Recebida').first().json.message_from }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        19456,
        7728
      ],
      "id": "29a825a7-9293-4cf9-bd87-8dc70ca7de4f",
      "name": "Buscar Paciente"
    },
    {
      "parameters": {
        "name": "buscar_horarios_disponiveis",
        "description": "Busca horários disponíveis de dentistas para uma data específica. Pode filtrar por dentista (dentist_id) ou especialidade.",
        "workflowId": {
          "__rl": true,
          "value": "=2YelpHyxOWru-WvXVobgh",
          "mode": "id",
          "cachedResultUrl": "/workflow/=2YelpHyxOWru-WvXVobgh"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "specialty": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('specialty', `Especialidade para filtrar horários (opcional)`, 'string', '') }}",
            "date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}",
            "dentist_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dentist_id', `ID do dentista para filtrar horários (opcional)`, 'string', '') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "dentist_id",
              "displayName": "dentist_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "specialty",
              "displayName": "specialty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        19776,
        7920
      ],
      "id": "bdd16c79-6202-4ffa-ac06-128c7e3be7b4",
      "name": "Buscar Horários"
    },
    {
      "parameters": {
        "name": "agendar_consulta",
        "description": "Cria um novo agendamento de consulta odontológica. IMPORTANTE: só use após confirmar TODOS os dados com o paciente.",
        "workflowId": {
          "__rl": true,
          "value": "=DGFmV2DcLn5Hr87SG-M6w",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "patient_phone": "={{ $('Mensagem Recebida').first().json.message_from }}",
            "patient_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('patient_name', `Nome completo do paciente`, 'string') }}",
            "dentist_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dentist_id', `ID do dentista`, 'string') }}",
            "procedure_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('procedure_id', `ID do procedimento (opcional)`, 'string', '') }}",
            "date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', `Data da consulta no formato YYYY-MM-DD`, 'string') }}",
            "time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('time', `Horário da consulta no formato HH:MM`, 'string') }}",
            "notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('notes', `Observações opcionais sobre a consulta`, 'string', '') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "patient_name",
              "displayName": "patient_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "dentist_id",
              "displayName": "dentist_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "procedure_id",
              "displayName": "procedure_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        19824,
        7728
      ],
      "id": "d530853f-178e-42e1-b12f-fda01335f01f",
      "name": "Agendar Consulta"
    },
    {
      "parameters": {
        "name": "cancelar_consulta",
        "description": "Cancela um agendamento existente. Precisa do ID do agendamento e do telefone do paciente para validação.",
        "workflowId": {
          "__rl": true,
          "value": "=7cNVINCL9vWl7E091-Bsv",
          "mode": "id",
          "cachedResultUrl": "/workflow/=7cNVINCL9vWl7E091-Bsv"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "appointment_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('appointment_id', ``, 'string') }}",
            "patient_phone": "={{ $('Mensagem Recebida').first().json.message_from }}",
            "reason": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reason', `Motivo do cancelamento (opcional)`, 'string', '') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        19952,
        7920
      ],
      "id": "38c46e66-a4f3-4bec-b410-aa2c5c57b613",
      "name": "Cancelar Consulta"
    },
    {
      "parameters": {
        "name": "consultar_agendamentos",
        "description": "Lista os próximos agendamentos futuros de um paciente. Retorna data, horário, dentista, procedimento e status.",
        "workflowId": {
          "__rl": true,
          "value": "=-lhyMHdd3_inlBq3iXnZc",
          "mode": "id",
          "cachedResultUrl": "/workflow/=-lhyMHdd3_inlBq3iXnZc"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "patient_phone": "={{ $('Mensagem Recebida').item.json.message_from }}",
            "status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('status', `Status do agendamento para filtrar (opcional)`, 'string', '') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        19984,
        7712
      ],
      "id": "04bbca61-5f90-4ad7-a3c4-df67c91ea6fb",
      "name": "Consultar Agendamentos"
    },
    {
      "parameters": {
        "name": "listar_dentistas_procedimentos",
        "description": "Lista dentistas disponíveis ou procedimentos odontológicos oferecidos. Para dentistas, retorna nome, CRO e especialidades. Para procedimentos, retorna nome, categoria, duração e preço.",
        "workflowId": {
          "__rl": true,
          "value": "={{'kD2fs_WAae3V2DLLHAAe9'}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('type', `'dentistas' ou 'procedimentos'`, 'string', 'dentistas') }}",
            "specialty": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('specialty', `Especialidade para filtrar dentistas (opcional)`, 'string', '') }}",
            "category": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('category', `Categoria para filtrar procedimentos (opcional)`, 'string', '') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "specialty",
              "displayName": "specialty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        19616,
        7984
      ],
      "id": "6a06c251-c58e-48c5-824e-a7c700c53817",
      "name": "Listar Dentistas/Procedimentos"
    },
    {
      "parameters": {
        "name": "resumo_financeiro",
        "description": "Retorna o resumo financeiro do paciente: total cobrado, pago, pendente, atrasado e próximos vencimentos.",
        "workflowId": {
          "__rl": true,
          "value": "=7p-QuU6PC9dXHq_4t-DEv",
          "mode": "id",
          "cachedResultUrl": "/workflow/=7p-QuU6PC9dXHq_4t-DEv"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "patient_phone": "={{ $('Mensagem Recebida').first().json.message_from }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        20144,
        7824
      ],
      "id": "a4003329-ce39-4de2-aafa-cf1b3766b09f",
      "name": "Resumo Financeiro"
    },
    {
      "parameters": {
        "name": "reiniciar_conversa",
        "description": "Reinicia a conversa do paciente, limpando todo o histórico e contexto anterior. Use quando o paciente pedir para reiniciar, limpar ou começar uma nova conversa.",
        "workflowId": {
          "__rl": true,
          "value": "=PDkFS5em9NgG0vKPUMMYb",
          "mode": "id",
          "cachedResultUrl": "/workflow/=PDkFS5em9NgG0vKPUMMYb"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "session_id": "={{ $('Mensagem Recebida').first().json.session_id }}"
          },
          "matchingColumns": [
            "patient_phone"
          ],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        19440,
        7984
      ],
      "id": "02b2fe31-4f91-4235-9061-513764093aee",
      "name": "Reiniciar Conversa"
    },
    {
      "parameters": {
        "name": "listar_especialidades",
        "description": "Lista todas as especialidades odontológicas disponíveis no consultório, com os dentistas que atendem cada uma. Use antes de buscar horários quando o paciente não especificar um dentista, para identificar qual especialidade e profissional atendem o procedimento desejado.",
        "workflowId": {
          "__rl": true,
          "value": "=Tn8tMYgL5SUiJgj-Il-W-",
          "mode": "id",
          "cachedResultUrl": "/workflow/=Tn8tMYgL5SUiJgj-Il-W-"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        19632,
        7712
      ],
      "id": "7123a164-f437-48ec-8f9f-392949428c1e",
      "name": "Listar Especialidades"
    },
    {
      "parameters": {
        "name": "consultar_contexto_usuario",
        "description": "Consulta contexto consolidado do usuário/paciente pelo telefone WhatsApp, incluindo histórico de interações, agendamentos, planos de tratamento, prontuários, prescrições e situação financeira. Use no início do atendimento para personalizar a conversa.",
        "workflowId": {
          "__rl": true,
          "value": "=-XvFkZLuXnb0SzBqAWRQP",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "patient_phone": "={{ $('Mensagem Recebida').first().json.message_from }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        20160,
        7664
      ],
      "id": "5dd9e62e-89cb-4af9-beac-ae1c4b88c057",
      "name": "Contexto do Usuário"
    },
    {
      "parameters": {
        "name": "salvar_preferencia_usuario",
        "description": "Salva preferências de personalização do usuário no cadastro WhatsApp (ex.: genero, pronome_tratamento, nome_preferido). Use sempre que o usuário corrigir forma de tratamento, informar gênero/pronomes ou preferências de comunicação.",
        "workflowId": {
          "__rl": true,
          "value": "=U1p6aKv9LmR2sJd5X4nQ",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schema_name": "={{ $('Buscar tenant').first().json.schema_name }}",
            "patient_phone": "={{ $('Mensagem Recebida').first().json.message_from }}",
            "preference_key": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('preference_key', `Chave da preferência (ex.: genero, pronome_tratamento, nome_preferido)`, 'string') }}",
            "preference_value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('preference_value', `Valor da preferência informada pelo usuário`, 'string') }}",
            "source": "assistente"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "schema_name",
              "displayName": "schema_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "preference_key",
              "displayName": "preference_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "preference_value",
              "displayName": "preference_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        20160,
        7824
      ],
      "id": "19ef2f46-8e2f-47d6-a99b-e94fc7d56f57",
      "name": "Salvar Preferência do Usuário"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM {{ $(\"Load Tenant Config\").first().json.schema_name }}.reiniciar_conversa($1::varchar);",
        "options": {
          "queryReplacement": "={{ $('Mensagem Recebida').item.json.session_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        18256,
        8272
      ],
      "id": "1fc418b7-12ab-4413-ace2-1f793b43ea57",
      "name": "Executar Reset",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = `✨ Conversa reiniciada com sucesso!\n\nSeu histórico de conversa foi limpo e estou disponível para um novo atendimento.\n\nComo posso ajudar você hoje? 😊`;\n\nreturn [{ json: { output } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17616,
        8272
      ],
      "id": "11334245-c3d0-4251-8b7c-769024755a8d",
      "name": "Mensagem de Reset"
    },
    {
      "parameters": {
        "jsCode": "// Recebe o texto de entrada\nconst texto = $input.first().json.output;\n\n// Divide o texto apenas pela sequência de barra invertida dupla (\\n\\n)\nconst itens = texto.split(/\\n\\n/);\n\n// Retorna cada item como um objeto separado, filtrando itens vazios\nreturn itens\n  .filter(item => item.trim() !== \"\")\n  .map(item => ({ item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21696,
        7424
      ],
      "id": "ba2bc526-50a4-4bc0-a806-f986203c2950",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        22112,
        7424
      ],
      "id": "f7e5967b-9a50-4fa6-b308-b384e6bf7ffe",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "path": "whatsapp/clinicas",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5ad56bcb-028a-436a-a1f9-9f31d379928a",
      "name": "Webhook Verificação Meta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        16096,
        6704
      ],
      "webhookId": "meta-verification-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "verify-token-check",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "6990655e5f96dab54ff827a0d16f4883",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "993ea89c-be19-4792-8846-7c41dd7a416f",
      "name": "Token Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        16320,
        6704
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Webhook Verificação Meta').first().json.query['hub.challenge'] }}",
        "options": {}
      },
      "id": "def6e837-1014-4f6d-aafc-8422eb939ac8",
      "name": "Responder Verificação",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        16544,
        6576
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Forbidden",
        "options": {
          "responseCode": 403
        }
      },
      "id": "aa95c869-448b-4f61-b0b6-ca2b11d55a63",
      "name": "Responder Proibido",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        16544,
        6816
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "dfcb8a08-b5db-4cc2-b4e7-4a239d17c672",
      "name": "Responder 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        16048,
        7136
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp/clinicas",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "dcc64dcd-fa45-4461-bbf3-5ed56c6c4ec3",
      "name": "Webhook Mensagens Recebidas",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        15488,
        7328
      ],
      "webhookId": "joao-leao-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * \nFROM clinicas.tenants\nWHERE whatsapp_phone_e164 = $1\nORDER BY tenant_code\nLIMIT 1",
        "options": {
          "queryReplacement": "={{ $json.whatsapp_phone_number }}"
        }
      },
      "id": "69c82633-52ba-4805-8fc2-de56a8cfdaec",
      "name": "Buscar tenant",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        16048,
        7536
      ],
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM clinicas.check_whatsapp_rate_limit(\n  p_tenant_code := $1::text,\n  p_user_phone_e164 := $2::text,\n  p_provider_message_id := $3::text,\n  p_message_type := $4::text,\n  p_whatsapp_phone_e164 := $5::text,\n  p_request_metadata := jsonb_build_object('whatsapp_phone_number_id', $6::text)\n);",
        "options": {
          "queryReplacement": "={{ $('Buscar tenant').first().json.tenant_code }},={{ $('Mensagem Recebida').first().json.message_from }},={{ $('Mensagem Recebida').first().json.message_id }},={{ $('Mensagem Recebida').first().json.message_type }},={{ $('Mensagem Recebida').first().json.whatsapp_phone_number }},={{ $('Mensagem Recebida').first().json.whatsapp_phone_number_id }}"
        }
      },
      "id": "ebc89b79-9b2e-4580-a960-d86bd64c41a8",
      "name": "Aplicar Rate Limit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        16384,
        7536
      ],
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "rate-limit-allowed-check",
              "leftValue": "={{ String($json.allowed) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7cb44d9b-ce5e-4a6d-a9d5-6d66af5caeb2",
      "name": "Rate Limit Permitido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        16624,
        7536
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extrair dados da mensagem recebida via API Oficial do WhatsApp (Meta Cloud API)\nconst body = $input.first().json.body || $input.first().json;\n\n// Validar que é um webhook do WhatsApp Business\nif (body.object !== 'whatsapp_business_account') {\n  return [];\n}\n\n// Extrair a primeira entrada e mudança\nconst entry = (body.entry || [])[0];\nif (!entry) return [];\n\nconst change = (entry.changes || [])[0];\nif (!change || change.field !== 'messages') return [];\n\nconst value = change.value || {};\nconst metadata = value.metadata || {};\n\n// Extrair mensagem (ignorar status/delivery receipts)\nconst messages = value.messages || [];\nif (messages.length === 0) return [];\n\nconst msg = messages[0];\nconst contacts = value.contacts || [];\nconst contact = contacts[0] || {};\n\n// Dados do remetente\nconst message_from = msg.from || '';\nconst message_from_profile_name = contact.profile?.name || '';\nconst message_id = msg.id || '';\nconst whatsapp_phone_number = metadata.display_phone_number || '';\nconst whatsapp_phone_number_id = metadata.phone_number_id || '';\n\n// Determinar tipo da mensagem\nlet message_type = 'text';\nlet message_content = '';\nlet media_mimetype = '';\nlet media_caption = '';\nlet media_id = '';\n\nif (msg.type === 'audio') {\n  message_type = 'audio';\n  media_mimetype = msg.audio?.mime_type || 'audio/ogg';\n  media_id = msg.audio?.id || '';\n} else if (msg.type === 'image') {\n  message_type = 'image';\n  media_mimetype = msg.image?.mime_type || 'image/jpeg';\n  media_caption = msg.image?.caption || '';\n  media_id = msg.image?.id || '';\n} else if (msg.type === 'text') {\n  message_content = msg.text?.body || '';\n} else if (msg.type === 'interactive') {\n  message_content = msg.interactive?.button_reply?.title || msg.interactive?.list_reply?.title || '';\n} else if (msg.type === 'button') {\n  message_content = msg.button?.text || '';\n} else {\n  // Tipo não suportado\n  return [];\n}\n\n// Detectar comandos de reset da conversa\nconst resetCommands = ['/limpar', '/reset', '/reiniciar', '/nova conversa', '/novo', 'nova conversa', 'limpar conversa', '#reiniciar', '#reset', '#limpar', 'reiniciar conversa', 'recomeçar conversa', 'recomecar conversa', 'começar denovo', 'comecar denovo'];\n\nconst normalizedContent = message_content.trim().toLowerCase();\nif (resetCommands.includes(normalizedContent)) {\n  message_type = 'reset';\n}\n\n// Montar sessionId: telefone do assistente + telefone do usuário\nconst session_id = whatsapp_phone_number + '|' + message_from;\n\nreturn [{\n  json: {\n    message_type,\n    message_content,\n    media_mimetype,\n    media_caption,\n    media_id,\n    message_from,\n    message_from_profile_name,\n    message_id,\n    session_id, \n    whatsapp_phone_number,\n    whatsapp_phone_number_id,\n    raw_message: msg\n  }\n}];"
      },
      "id": "9f9f9129-4b4d-46c4-afc6-b041b2f597cc",
      "name": "Mensagem Recebida",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15744,
        7328
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Mensagem Recebida').first().json.message_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cf81eb9f-7dd5-4e3a-88c8-681f5a3330e4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Mensagem Recebida').first().json.message_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "048defe2-b01a-4bbd-ab11-491624c3703f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Mensagem Recebida').first().json.message_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "18f9a41a-acae-4195-9f6c-033ba9418cc0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Mensagem Recebida').first().json.message_type }}",
                    "rightValue": "reset",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "306a1fa2-db9a-41b4-a901-fc7bc175691f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reset"
            }
          ]
        },
        "options": {}
      },
      "id": "22bf7bae-ab8f-4f13-ace8-8c17ca51d95a",
      "name": "Tipo de Mensagem",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        17216,
        7488
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar texto transcrito do áudio para o agente IA\nconst transcription = $input.first().json.text || '';\nconst originalData = $('Mensagem Recebida').first().json;\n\nconst transcription_text = (transcription && transcription.trim()) \n      ? transcription.trim()\n      : '[Áudio recebido mas não foi possível transcrever. Por favor, envie em texto.]'\n\nreturn [{\n  json: {\n    ...originalData,\n    message_type: 'audio',\n    chat_input: `[Mensagem de áudio transcrita]: ${transcription_text}`,\n    original_transcription: transcription_text\n  }\n}];"
      },
      "id": "feaa267c-8c27-4bac-8e11-e76485c8400e",
      "name": "Preparar Texto do Áudio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18400,
        7392
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        18160,
        7392
      ],
      "id": "f3614902-4097-4452-98c9-22d79af08e1c",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "mBrIhUVilYC9NHDM",
          "name": "OpenAI: politicos"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('Mensagem Recebida').first().json.media_id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        17664,
        7392
      ],
      "id": "9c36b94d-cbd5-4bc9-8a4f-1737dc6323d5",
      "name": "Download audio",
      "webhookId": "da1b6a8d-7add-451c-8800-5f319f5e8372",
      "credentials": {
        "whatsAppApi": {
          "id": "QEdJvd4UlIJ2xjVE",
          "name": "Tenóbio - WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        17920,
        7392
      ],
      "id": "d92215fa-333f-4451-8c5f-0fca26defe6c",
      "name": "Baixar Áudio Binary",
      "credentials": {
        "whatsAppApi": {
          "id": "QEdJvd4UlIJ2xjVE",
          "name": "Tenóbio - WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Restaurar dados originais da mensagem recebida\nconst originalData = $('Mensagem Recebida').first().json;\n\n// Unificar todas as mensagens (texto, áudio, imagem) para o agente IA\nconst item = $input.first().json;\n\nreturn [{\n  json: {\n    ...item,\n    ...originalData\n  }\n}];"
      },
      "id": "8029db73-bde0-4383-8447-506f19bf3b72",
      "name": "Unificar Mensagens",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18976,
        7472
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar mensagem de texto para o agente IA\nconst originalData = $('Mensagem Recebida').first().json;\nconst messageContent = originalData.message_content\n\nreturn [{\n  json: {\n    ...originalData,\n    chat_input: messageContent,\n    message_type: 'text'\n  }\n}];"
      },
      "id": "34aaa16d-dac7-4a72-aff8-2d178cc4db72",
      "name": "Preparar Texto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17968,
        6912
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Mensagem Recebida').first().json.whatsapp_phone_number_id }}",
        "recipientPhoneNumber": "={{ $('Mensagem Recebida').first().json.message_from }}",
        "textBody": "={{ $json.item }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        22400,
        7440
      ],
      "id": "d5546478-07ec-4c66-98e4-ded75f0ebea9",
      "name": "Enviar Mensagem Resposta",
      "webhookId": "cd14995a-7e3e-45d5-b337-1d094a35d364",
      "credentials": {
        "whatsAppApi": {
          "id": "QEdJvd4UlIJ2xjVE",
          "name": "Tenóbio - WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Restaurar dados originais da mensagem recebida\nconst originalData = $('Mensagem Recebida').first().json;\n\n// Mensagem de reset\nconst mensagemReset = $('Mensagem de Reset').first().json;\n\nreturn [{\n  json: {\n    ...mensagemReset,\n    ...originalData\n  }\n}];"
      },
      "id": "d9587e19-ebc5-4611-a94b-8859feaaf988",
      "name": "Restaurar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18656,
        8272
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Busca informações na base de conhecimento oficial do {{ $('Buscar tenant').first().json.organization_name }}. Use esta ferramenta para encontrar dados sobre sua trajetória política, mandatos, comissões, áreas de atuação, bandeiras, experiência empresarial, cargos executivos e contexto eleitoral para as próximas eleições. Sempre consulte esta ferramenta antes de responder perguntas sobre {{ $('Buscar tenant').first().json.nome }}. ",
        "tableName": "={{ $('Load Tenant Config').first().json.schema_name }}.documentos",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        20288,
        7632
      ],
      "id": "8c544ff3-373a-4aa1-8da7-8ec91d09c4af",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        20288,
        7904
      ],
      "id": "3ca4ee7f-5cab-4599-8f09-d972b109d544",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "mBrIhUVilYC9NHDM",
          "name": "OpenAI: politicos"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chat_input }}",
        "options": {
          "systemMessage": "=Você é um assistente virtual para consultório de saúde. Você é educado, profissional, acolhedor e eficiente. Responda sempre em português brasileiro.\n\n══════════════════════════════════════\n📋 PROTOCOLOS GERAIS\n══════════════════════════════════════\n1. Respostas breves e diretas para WhatsApp (máximo 4-5 linhas por mensagem)\n2. Use emojis com moderação para melhorar legibilidade\n3. Sempre confirme dados antes de executar ações (agendar, cancelar)\n4. NUNCA invente informações médicas - quando não souber, direcione ao profissional\n5. Mantenha sigilo sobre dados de outros pacientes\n6. Se não encontrar o paciente no sistema, trate como novo paciente\n7. Não seja repetitivo\n8. Mensagens de áudio são automaticamente transcritas para texto\n9. Sempre que o usuário informar preferência de tratamento (ex.: gênero, pronomes, nome preferido), salve com a ferramenta de preferências\n\n══════════════════════════════════════\n🏥 INFORMAÇÕES DO CONSULTÓRIO\n══════════════════════════════════════\n- Clínica: {{ $('Buscar tenant').first().json.organization_name }}\n- Endereço: {{ $('Buscar tenant').first().json.organization_address }}\n- Telefone: {{ $('Buscar tenant').first().json.organization_phone }}\n- Horário: {{ JSON.stringify($('Buscar tenant').first().json.organization_hours)}}\n- Instagram: {{ $('Buscar tenant').first().json.organization_instagram }}\n\n══════════════════════════════════════\n👨‍⚕️ PROFISSIONAL\n══════════════════════════════════════\n- Nome: {{ $('Buscar tenant').first().json.full_name }}\n- Especialidades: {{ JSON.stringify($('Buscar tenant').first().json.specialties)}}\n- Registro: {{ $('Buscar tenant').first().json.credential_type }} {{ $('Buscar tenant').first().json.credential_number }}\n\n══════════════════════════════════════\n🤖 SUA IDENTIDADE\n══════════════════════════════════════\nVocê é {{ $('Buscar tenant').first().json.assistant_persona_name }}, assistente virtual deste consultório.\nPersonalidade: {{ $('Buscar tenant').first().json.assistant_tone }}\n\n══════════════════════════════════════\n🛠️ FERRAMENTAS DISPONÍVEIS\n══════════════════════════════════════\nVocê tem acesso às seguintes ferramentas. Use-as conforme necessário e sempre confirme dados antes de executar ações irreversíveis.\n\n👤 Contexto do Usuário\nConsulta histórico completo e preferências de personalização (quando já salvas).\nParâmetros: patient_phone (obrigatório)\nQuando usar: SEMPRE no início do atendimento para personalizar linguagem e evitar tratamentos incorretos.\n\n🧠 Salvar Preferência do Usuário\nSalva preferências de personalização no cadastro do usuário (ex.: genero, pronome_tratamento, nome_preferido).\nParâmetros: preference_key e preference_value (obrigatórios)\nQuando usar: imediatamente após o usuário informar ou corrigir preferência de tratamento.\n\n🔍 Buscar Paciente\nLocaliza o cadastro de um paciente pelo número de telefone.\nParâmetros: patient_phone (obrigatório)\nQuando usar: ao iniciar o atendimento, antes de agendar ou ao consultar histórico do paciente.\n\n📅 Buscar Horários Disponíveis\nLista os slots de horários livres dos profissionais em uma data específica.\nParâmetros: date no formato YYYY-MM-DD (obrigatório), dentist_id (opcional), specialty (opcional)\nQuando usar: quando o paciente quiser saber quais horários estão disponíveis.\n\n🗓️ Agendar Consulta\nCria um novo agendamento para o paciente.\nParâmetros obrigatórios: patient_phone, patient_name, dentist_id, date (YYYY-MM-DD), time (HH:MM)\nParâmetros opcionais: procedure_id, notes\nAtenção: confirme sempre a disponibilidade com Buscar Horários Disponíveis antes de agendar.\n\n📋 Consultar Agendamentos do Paciente\nLista os próximos agendamentos de um paciente (até 5 registros).\nParâmetros: patient_phone (obrigatório), status (opcional: agendado, confirmado, cancelado)\nQuando usar: quando o paciente perguntar sobre suas consultas marcadas.\n\n❌ Cancelar Consulta\nCancela um agendamento existente do paciente.\nParâmetros obrigatórios: appointment_id, patient_phone\nParâmetros opcionais: reason (motivo do cancelamento)\nAtenção: obtenha o appointment_id via Consultar Agendamentos do Paciente antes de cancelar.\n\n👨‍⚕️ Listar Dentistas e Procedimentos\nLista os profissionais ativos ou os procedimentos disponíveis no consultório.\nParâmetros: type (dentistas | procedimentos, padrão: dentistas), specialty (filtro por especialidade), category (filtro por categoria de procedimento)\nQuando usar: quando o paciente quiser conhecer os profissionais ou os procedimentos oferecidos.\n\n🏥 Listar Especialidades\nLista todas as especialidades disponíveis no consultório com os respectivos profissionais.\nNenhum parâmetro adicional necessário.\nQuando usar: quando o paciente não souber qual especialidade ou profissional procurar.\n\n💰 Resumo Financeiro do Paciente\nExibe o resumo financeiro do paciente: total cobrado, pago, pendente e próximos vencimentos.\nParâmetros: patient_phone (obrigatório)\nQuando usar: somente quando o paciente solicitar informações sobre pagamentos ou débitos.\n\n🔄 Reiniciar Conversa\nLimpa o histórico de contexto da IA para iniciar um novo atendimento do zero.\nParâmetros: session_id (automático)\nQuando usar: quando o paciente pedir para recomeçar ou houver confusão grave no contexto.\n\nMENSAGEM DO USUÁRIO:\nPerfil WhatsApp: {{ $('Mensagem Recebida').first().json.message_from_profile_name }}\nTelefone WhatsApp: {{ $('Mensagem Recebida').first().json.message_from }}\nTipo de mensagem: {{ $('Mensagem Recebida').first().json.message_type }}\nTexto enviado: {{ $json.chat_input }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        19232,
        7472
      ],
      "id": "74108b5c-b827-47fe-9864-99d272f04ada",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "={{ $('Load Tenant Config').first().json.schema_name }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "conversas",
          "mode": "list",
          "cachedResultName": "conversas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Mensagem Recebida').item.json.message_from }}",
            "nome": "={{ $('Mensagem Recebida').item.json.message_from_profile_name }}",
            "mensagem": "={{ $('Mensagem Recebida').item.json.message_content }}",
            "resposta_ia": "={{ $json.output }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resposta_ia",
              "displayName": "resposta_ia",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contexto_rag",
              "displayName": "contexto_rag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data_hora",
              "displayName": "data_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "criado_em",
              "displayName": "criado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "atualizado_em",
              "displayName": "atualizado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        17952,
        8272
      ],
      "id": "9228cc13-32d5-4d4b-942e-2d5b9573bcd4",
      "name": "Salvar Histórico de Conversa (reset)",
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "={{ $('Load Tenant Config').first().json.schema_name }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "conversas",
          "mode": "list",
          "cachedResultName": "conversas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Mensagem Recebida').first().json.message_from }}",
            "nome": "={{ $('Mensagem Recebida').first().json.message_from_profile_name }}",
            "mensagem": "={{ $('Unificar Mensagens').item.json.chat_input }}",
            "resposta_ia": "={{ $('AI Agent').first().json.output }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resposta_ia",
              "displayName": "resposta_ia",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contexto_rag",
              "displayName": "contexto_rag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data_hora",
              "displayName": "data_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "criado_em",
              "displayName": "criado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "atualizado_em",
              "displayName": "atualizado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        19760,
        7312
      ],
      "id": "937e7fd9-0b36-4f49-abe8-45b02a782087",
      "name": "Salvar Histórico de Conversa",
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    }
  ],
  "pinData": {
    "Webhook Verificação Meta": [
      {
        "json": {
          "headers": {
            "host": "n8n.bahiati.cloud",
            "user-agent": "facebookplatform/1.0 (+http://developers.facebook.com)",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "x-forwarded-for": "173.252.95.9",
            "x-forwarded-host": "n8n.bahiati.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "0559ca9a5ebb",
            "x-real-ip": "173.252.95.9"
          },
          "params": {},
          "query": {
            "hub.mode": "subscribe",
            "hub.challenge": "156959548",
            "hub.verify_token": "6ce961fdd9922b34cd90560ac2825f72",
            "hub_mode": "subscribe",
            "hub_challenge": "156959548",
            "hub_verify_token": "6ce961fdd9922b34cd90560ac2825f72"
          },
          "body": {},
          "webhookUrl": "https://n8n.bahiati.cloud/webhook/whatsapp/politicos",
          "executionMode": "production"
        }
      }
    ],
    "Webhook Mensagens Recebidas": [
      {
        "json": {
          "headers": {
            "host": "n8n.bahiati.cloud",
            "user-agent": "facebookexternalua",
            "content-length": "581",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "content-type": "application/json",
            "x-forwarded-for": "57.141.6.31",
            "x-forwarded-host": "n8n.bahiati.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "0559ca9a5ebb",
            "x-hub-signature": "sha1=320624a6ffd904eedcf284efc4a750f920d6183c",
            "x-hub-signature-256": "sha256=b0bf249f7ad505b3d86f9777ee45b1247edc4d17b372f4791b8c9ef204465597",
            "x-real-ip": "57.141.6.31"
          },
          "params": {},
          "query": {},
          "body": {
            "object": "whatsapp_business_account",
            "entry": [
              {
                "id": "1261733702613096",
                "changes": [
                  {
                    "value": {
                      "messaging_product": "whatsapp",
                      "metadata": {
                        "display_phone_number": "557182606057",
                        "phone_number_id": "1096184990247219"
                      },
                      "contacts": [
                        {
                          "profile": {
                            "name": "Cacá Carlos Alberto"
                          },
                          "wa_id": "557583085693",
                          "user_id": "BR.4255964588049507"
                        }
                      ],
                      "messages": [
                        {
                          "from": "557583085693",
                          "from_user_id": "BR.4255964588049507",
                          "id": "wamid.HBgMNTU3NTgzMDg1NjkzFQIAEhggQUM3QkYwMkU0NDY3NDIyMDVDM0YyOEFBNTU0MzdGQjAA",
                          "timestamp": "1778883583",
                          "text": {
                            "body": "Beijim. . ."
                          },
                          "type": "text"
                        }
                      ]
                    },
                    "field": "messages"
                  }
                ]
              }
            ]
          },
          "webhookUrl": "https://n8n.bahiati.cloud/webhook/whatsapp/clinicas",
          "executionMode": "production"
        },
        "binary": {
          "data": {
            "data": "eyJvYmplY3QiOiJ3aGF0c2FwcF9idXNpbmVzc19hY2NvdW50IiwiZW50cnkiOlt7ImlkIjoiMTI2MTczMzcwMjYxMzA5NiIsImNoYW5nZXMiOlt7InZhbHVlIjp7Im1lc3NhZ2luZ19wcm9kdWN0Ijoid2hhdHNhcHAiLCJtZXRhZGF0YSI6eyJkaXNwbGF5X3Bob25lX251bWJlciI6IjU1NzE4MjYwNjA1NyIsInBob25lX251bWJlcl9pZCI6IjEwOTYxODQ5OTAyNDcyMTkifSwiY29udGFjdHMiOlt7InByb2ZpbGUiOnsibmFtZSI6IkNhY1x1MDBlMSBDYXJsb3MgQWxiZXJ0byJ9LCJ3YV9pZCI6IjU1NzU4MzA4NTY5MyIsInVzZXJfaWQiOiJCUi40MjU1OTY0NTg4MDQ5NTA3In1dLCJtZXNzYWdlcyI6W3siZnJvbSI6IjU1NzU4MzA4NTY5MyIsImZyb21fdXNlcl9pZCI6IkJSLjQyNTU5NjQ1ODgwNDk1MDciLCJpZCI6IndhbWlkLkhCZ01OVFUzTlRnek1EZzFOamt6RlFJQUVoZ2dRVU0zUWtZd01rVTBORFkzTkRJeU1EVkRNMFl5T0VGQk5UVTBNemRHUWpBQSIsInRpbWVzdGFtcCI6IjE3Nzg4ODM1ODMiLCJ0ZXh0Ijp7ImJvZHkiOiJCZWlqaW0uIC4gLiJ9LCJ0eXBlIjoidGV4dCJ9XX0sImZpZWxkIjoibWVzc2FnZXMifV19XX0=",
            "mimeType": "application/json"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Executar Reset": {
      "main": [
        [
          {
            "node": "Restaurar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem de Reset": {
      "main": [
        [
          {
            "node": "Salvar Histórico de Conversa (reset)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Paciente": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Horários": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agendar Consulta": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar Consulta": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Agendamentos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Listar Dentistas/Procedimentos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Resumo Financeiro": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reiniciar Conversa": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Listar Especialidades": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Enviar Mensagem Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Tenant Config": {
      "main": [
        [
          {
            "node": "Tipo de Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Verificação Meta": {
      "main": [
        [
          {
            "node": "Token Válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Válido?": {
      "main": [
        [
          {
            "node": "Responder Verificação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Proibido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Mensagens Recebidas": {
      "main": [
        [
          {
            "node": "Mensagem Recebida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar tenant": {
      "main": [
        [
          {
            "node": "Aplicar Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aplicar Rate Limit": {
      "main": [
        [
          {
            "node": "Rate Limit Permitido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Permitido?": {
      "main": [
        [
          {
            "node": "Load Tenant Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Recebida": {
      "main": [
        [
          {
            "node": "Buscar tenant",
            "type": "main",
            "index": 0
          },
          {
            "node": "Responder 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Preparar Texto do Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download audio": {
      "main": [
        [
          {
            "node": "Baixar Áudio Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar Áudio Binary": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de Mensagem": {
      "main": [
        [
          {
            "node": "Preparar Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download audio",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Mensagem de Reset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Texto do Áudio": {
      "main": [
        [
          {
            "node": "Unificar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Texto": {
      "main": [
        [
          {
            "node": "Unificar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unificar Mensagens": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensagem Resposta": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurar Dados": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salvar Histórico de Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Histórico de Conversa (reset)": {
      "main": [
        [
          {
            "node": "Executar Reset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contexto do Usuário": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Preferência do Usuário": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "20d10697-fe5e-4373-94ee-0a105f83b23d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d07a57d7c2add559a13f166055a90b89bb4e767a13639a3a9399707bf04755c3"
  },
  "id": "EzNrHyxPlJ4dzDslolMGS",
  "tags": []
}