temp/WhatsApp _ Políticos - Relatório Diário de Conversas.json
{
  "name": "WhatsApp / Políticos - Relatório Diário de Conversas",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 * * *"
            }
          ]
        }
      },
      "id": "75f3590a-483f-4361-a343-711eb9bb0d57",
      "name": "Trigger Diário 01h BRT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -176,
        688
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  aa.id AS ai_assistant_id,\n  aa.owner_name,\n  aa.ai_assistant_name,\n  aa.email AS recipient_email,\n  ch.id,\n  ch.session_id,\n  ch.sender,\n  ch.sender_name,\n  ch.message_type,\n  ch.user_message,\n  ch.ai_response,\n  ch.created_at,\n  u.profile_name\nFROM politicos.ai_assistant aa\nLEFT JOIN politicos.conversation_history ch\n  ON ch.ai_assistant_id = aa.id\n AND ch.created_at >= (CURRENT_DATE - INTERVAL '1 day')::timestamptz\n AND ch.created_at < CURRENT_DATE::timestamptz\nLEFT JOIN politicos.users u\n  ON ch.ai_assistant_id = u.ai_assistant_id\n AND ch.sender = u.phone\nORDER BY aa.ai_assistant_name, ch.session_id, ch.created_at",
        "options": {}
      },
      "id": "55786708-3b10-4196-a95b-53b18feac6cc",
      "name": "Buscar Conversas do Dia Anterior",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        32,
        688
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
              "leftValue": "={{ $items(\"Buscar Conversas do Dia Anterior\").length > 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "3c12ebd8-96c6-4129-801e-8ca0d3a3b28f",
              "leftValue": "={{ Object.keys($items(\"Buscar Conversas do Dia Anterior\")[0].json).length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a665dff6-0aac-49c9-a340-fa66e7357547",
      "name": "Verificar se Há Conversas",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        256,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "// Gera um item de email isolado por assistente, mantendo HTML no estilo WhatsApp\nconst rows = $input\n  .all()\n  .map(item => item.json)\n  .filter(data => data && Object.keys(data).length > 0 && data.ai_assistant_id);\n\nif (rows.length === 0) {\n  return [];\n}\n\nconst dataOntem = new Date();\ndataOntem.setDate(dataOntem.getDate() - 1);\nconst dataFormatada = dataOntem.toLocaleDateString('pt-BR', {\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric'\n});\n\nconst porAssistente = {};\n\nfunction normalizarTexto(value, fallback = '') {\n  if (value === null || value === undefined) return fallback;\n  const texto = String(value).trim();\n  return texto || fallback;\n}\n\nfunction normalizarEmail(value) {\n  return normalizarTexto(value).toLowerCase();\n}\n\nfor (const data of rows) {\n  const assistenteId = data.ai_assistant_id;\n  const recipient_email = normalizarEmail(data.recipient_email);\n\n  if (!porAssistente[assistenteId]) {\n    porAssistente[assistenteId] = {\n      ai_assistant_id: assistenteId,\n      recipient_email,\n      owner_name: normalizarTexto(data.owner_name, 'Sem nome'),\n      ai_assistant_name: normalizarTexto(data.ai_assistant_name, 'Assistente'),\n      sessoes: {},\n      total_conversas: 0,\n      total_mensagens: 0,\n      tiposMensagem: { text: 0, audio: 0, image: 0, outros: 0 }\n    };\n  } else if (!porAssistente[assistenteId].recipient_email && recipient_email) {\n    porAssistente[assistenteId].recipient_email = recipient_email;\n  }\n\n  const assistente = porAssistente[assistenteId];\n\n  if (!data.id || !data.session_id || !data.created_at) {\n    continue;\n  }\n\n  assistente.total_mensagens += 1;\n\n  if (data.message_type === 'text') assistente.tiposMensagem.text += 1;\n  else if (data.message_type === 'audio') assistente.tiposMensagem.audio += 1;\n  else if (data.message_type === 'image') assistente.tiposMensagem.image += 1;\n  else assistente.tiposMensagem.outros += 1;\n\n  if (!assistente.sessoes[data.session_id]) {\n    assistente.sessoes[data.session_id] = {\n      sender: data.sender,\n      profile_name: data.profile_name || data.sender_name || data.sender,\n      mensagens: []\n    };\n    assistente.total_conversas += 1;\n  }\n\n  assistente.sessoes[data.session_id].mensagens.push({\n    timestamp: new Date(data.created_at),\n    tipo: data.message_type,\n    user_message: data.user_message,\n    ai_response: data.ai_response\n  });\n}\n\nfunction formatarHora(date) {\n  return date.toLocaleTimeString('pt-BR', { hour: '2-digit', minute: '2-digit' });\n}\n\nfunction escapeHtml(text) {\n  if (text === null || text === undefined) return '';\n  return String(text)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#039;')\n    .replace(/\\n/g, '<br>');\n}\n\nfunction formatWhatsApp(text) {\n  if (!text) return '';\n  let html = escapeHtml(text);\n  html = html.replace(/\\*(.*?)\\*/g, '<b>$1</b>');\n  html = html.replace(/\\b_(.*?)_\\b/g, '<i>$1</i>');\n  html = html.replace(/~(.*?)~/g, '<s>$1</s>');\n  html = html.replace(/```(.*?)```/gs, '<code style=\"background-color:#1a2730;padding:2px 4px;border-radius:3px;font-family:monospace;\">$1</code>');\n  return html;\n}\n\nfunction renderizarMensagens(sessao) {\n  let html = '';\n\n  sessao.mensagens.forEach(msg => {\n    if (msg.user_message) {\n      let tipoBadgeHtml = '';\n      if (msg.tipo !== 'text') {\n        let badgeBg = '#333';\n        let badgeColor = '#ccc';\n        if (msg.tipo === 'audio') {\n          badgeBg = '#0a4d3f';\n          badgeColor = '#7ed9c5';\n        } else if (msg.tipo === 'image') {\n          badgeBg = '#4a3c0a';\n          badgeColor = '#e6d47d';\n        }\n        tipoBadgeHtml = `<span style=\"display:inline-block;font-size:10px;padding:2px 6px;border-radius:4px;margin-bottom:4px;font-weight:600;text-transform:uppercase;background-color:${badgeBg};color:${badgeColor};\">${msg.tipo}</span><br>`;\n      }\n\n      html += `\n        <div style=\"display:block;margin:4px 0;clear:both;overflow:hidden;text-align:left;\">\n          <div style=\"display:inline-block;max-width:65%;padding:8px 12px;border-radius:0 8px 8px 8px;background-color:#202c33;color:#e9edef;word-wrap:break-word;text-align:left;\">\n            ${tipoBadgeHtml}<div style=\"margin-top:4px;\">${formatWhatsApp(msg.user_message)}</div>\n            <div style=\"font-size:11px;color:#8696a0;margin-top:4px;text-align:right;\">${formatarHora(msg.timestamp)}</div>\n          </div>\n        </div>\n`;\n    }\n\n    if (msg.ai_response) {\n      html += `\n        <div style=\"display:block;margin:4px 0;clear:both;overflow:hidden;text-align:right;\">\n          <div style=\"display:inline-block;max-width:65%;padding:8px 12px;border-radius:8px 0 8px 8px;background-color:#005c4b;color:#ffffff;word-wrap:break-word;text-align:left;\">\n            <div style=\"margin-top:4px;\">${formatWhatsApp(msg.ai_response)}</div>\n            <div style=\"font-size:11px;color:#b8d4c6;margin-top:4px;text-align:right;\">${formatarHora(msg.timestamp)}</div>\n          </div>\n        </div>\n`;\n    }\n  });\n\n  return html;\n}\n\nfunction gerarHtmlAssistente(assistente) {\n  const sessoes = Object.values(assistente.sessoes)\n    .map(sessao => ({\n      ...sessao,\n      mensagens: [...sessao.mensagens].sort((a, b) => a.timestamp - b.timestamp)\n    }));\n\n  let html = `<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Resumo diário do WhatsApp - ${escapeHtml(assistente.owner_name)} - ${dataFormatada}</title>\n</head>\n<body style=\"margin:0;padding:20px;background-color:#0b141a;color:#e9edef;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;line-height:1.5;\">\n  <div style=\"max-width:900px;margin:0 auto;background-color:#111b21;border-radius:8px;overflow:hidden;\">\n    <div style=\"background:linear-gradient(135deg,#005c4b 0%,#128c7e 100%);padding:30px;text-align:center;border-bottom:3px solid #00a884;\">\n      <h1 style=\"margin:0 0 8px 0;padding:0;font-size:28px;color:#ffffff;\">&#128202; Resumo diário do WhatsApp</h1>\n      <div style=\"font-size:18px;color:#ffffff;font-weight:600;margin-bottom:6px;\">${escapeHtml(assistente.owner_name)}</div>\n      <div style=\"font-size:16px;color:#d1f4dd;font-weight:500;margin-top:8px;\">${dataFormatada}</div>\n    </div>\n\n    <div style=\"padding:25px;background-color:#1a2730;border-bottom:1px solid #2a3942;\">\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse:collapse;\">\n        <tr>\n          <td width=\"33%\" style=\"padding:8px;\" valign=\"top\">\n            <div style=\"background-color:#202c33;padding:15px;border-radius:8px;text-align:center;border-left:4px solid #00a884;\">\n              <div style=\"font-size:12px;color:#8696a0;text-transform:uppercase;letter-spacing:0.5px;margin-bottom:5px;\">Total de Conversas</div>\n              <div style=\"font-size:24px;font-weight:bold;color:#00a884;\">${assistente.total_conversas}</div>\n            </div>\n          </td>\n          <td width=\"33%\" style=\"padding:8px;\" valign=\"top\">\n            <div style=\"background-color:#202c33;padding:15px;border-radius:8px;text-align:center;border-left:4px solid #00a884;\">\n              <div style=\"font-size:12px;color:#8696a0;text-transform:uppercase;letter-spacing:0.5px;margin-bottom:5px;\">Total de Mensagens</div>\n              <div style=\"font-size:24px;font-weight:bold;color:#00a884;\">${assistente.total_mensagens}</div>\n            </div>\n          </td>\n          <td width=\"34%\" style=\"padding:8px;\" valign=\"top\">\n            <div style=\"background-color:#202c33;padding:15px;border-radius:8px;text-align:center;border-left:4px solid #00a884;\">\n              <div style=\"font-size:12px;color:#8696a0;text-transform:uppercase;letter-spacing:0.5px;margin-bottom:5px;\">Mensagens de Texto</div>\n              <div style=\"font-size:24px;font-weight:bold;color:#00a884;\">${assistente.tiposMensagem.text}</div>\n            </div>\n          </td>\n        </tr>\n        <tr>\n          <td width=\"33%\" style=\"padding:8px;\" valign=\"top\">\n            <div style=\"background-color:#202c33;padding:15px;border-radius:8px;text-align:center;border-left:4px solid #00a884;\">\n              <div style=\"font-size:12px;color:#8696a0;text-transform:uppercase;letter-spacing:0.5px;margin-bottom:5px;\">Mensagens de Áudio</div>\n              <div style=\"font-size:24px;font-weight:bold;color:#00a884;\">${assistente.tiposMensagem.audio}</div>\n            </div>\n          </td>\n          <td width=\"33%\" style=\"padding:8px;\" valign=\"top\">\n            <div style=\"background-color:#202c33;padding:15px;border-radius:8px;text-align:center;border-left:4px solid #00a884;\">\n              <div style=\"font-size:12px;color:#8696a0;text-transform:uppercase;letter-spacing:0.5px;margin-bottom:5px;\">Imagens</div>\n              <div style=\"font-size:24px;font-weight:bold;color:#00a884;\">${assistente.tiposMensagem.image}</div>\n            </div>\n          </td>\n          <td width=\"34%\" style=\"padding:8px;\" valign=\"top\">\n            <div style=\"background-color:#202c33;padding:15px;border-radius:8px;text-align:center;border-left:4px solid #00a884;\">\n              <div style=\"font-size:12px;color:#8696a0;text-transform:uppercase;letter-spacing:0.5px;margin-bottom:5px;\">Outros Tipos</div>\n              <div style=\"font-size:24px;font-weight:bold;color:#00a884;\">${assistente.tiposMensagem.outros}</div>\n            </div>\n          </td>\n        </tr>\n      </table>\n    </div>\n`;\n\n  if (sessoes.length === 0) {\n    html += `\n    <div style=\"margin:20px;background-color:#1a2730;border-radius:8px;padding:24px;border:1px solid #2a3942;text-align:center;\">\n      <div style=\"font-size:18px;font-weight:600;color:#e9edef;margin-bottom:8px;\">Nenhuma conversa no período</div>\n      <div style=\"font-size:14px;color:#8696a0;\">Não houve mensagens registradas para ${escapeHtml(assistente.ai_assistant_name)} no dia ${dataFormatada}.</div>\n    </div>\n`;\n  }\n\n  for (const sessao of sessoes) {\n    const numMensagens = sessao.mensagens.length;\n    const primeiraMsg = sessao.mensagens[0];\n    const ultimaMsg = sessao.mensagens[sessao.mensagens.length - 1];\n\n    html += `\n    <div style=\"margin:20px;background-color:#0b141a;border-radius:8px;padding:15px;border:1px solid #2a3942;\">\n      <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse:collapse;margin-bottom:15px;padding-bottom:10px;border-bottom:1px solid #2a3942;\">\n        <tr>\n          <td style=\"font-size:16px;font-weight:600;color:#e9edef;\">&#128172; ${escapeHtml(sessao.profile_name)} <span style=\"font-weight:400;font-size:13px;color:#8696a0;\">${escapeHtml(sessao.sender)}</span></td>\n          <td style=\"font-size:12px;color:#8696a0;text-align:right;\">${numMensagens} mensagem(s) &bull; ${formatarHora(primeiraMsg.timestamp)} - ${formatarHora(ultimaMsg.timestamp)}</td>\n        </tr>\n      </table>\n      <div style=\"display:block;\">\n${renderizarMensagens(sessao)}\n      </div>\n    </div>\n`;\n  }\n\n  html += `\n    <div style=\"text-align:center;padding:20px;color:#8696a0;font-size:12px;background-color:#1a2730;border-top:1px solid #2a3942;\">\n      Resumo diário gerado automaticamente para ${escapeHtml(assistente.ai_assistant_name)} em ${dataFormatada}.\n    </div>\n  </div>\n</body>\n</html>\n`;\n\n  return html;\n}\n\nreturn Object.values(porAssistente)\n  .filter(assistente => assistente.recipient_email)\n  .map(assistente => ({\n    json: {\n      ai_assistant_id: assistente.ai_assistant_id,\n      recipient_email: assistente.recipient_email,\n      ai_assistant_name: assistente.ai_assistant_name,\n      owner_name: assistente.owner_name,\n      data_ontem: dataFormatada,\n      total_conversas: assistente.total_conversas,\n      total_mensagens: assistente.total_mensagens,\n      email_subject: assistente.total_mensagens > 0\n        ? `📊 Resumo diário do WhatsApp — ${assistente.owner_name} — ${dataFormatada}`\n        : `📭 Resumo diário do WhatsApp — ${assistente.owner_name} — ${dataFormatada}`,\n      html: gerarHtmlAssistente(assistente)\n    }\n  }));\n"
      },
      "id": "b503f5a2-f955-4201-9758-6ef20d6cf152",
      "name": "Gerar HTML WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        560
      ]
    },
    {
      "parameters": {},
      "id": "c9bf71a9-ea8c-4b7f-a600-031425ea6e4a",
      "name": "Sem Conversas",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        480,
        784
      ]
    },
    {
      "parameters": {
        "sendTo": "=contato@bahiatecnologia.com.br",
        "subject": "={{ $json.email_subject }}",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        736,
        560
      ],
      "id": "9a967d3e-f4f0-48dd-855f-b0db5ecd962e",
      "name": "Send a message",
      "webhookId": "1f3fd94c-16fa-48fa-ac5c-4a17b357f32f",
      "credentials": {
        "gmailOAuth2": {
          "id": "QgS6qXwHFfgn1v3X",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger Diário 01h BRT": {
      "main": [
        [
          {
            "node": "Buscar Conversas do Dia Anterior",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Conversas do Dia Anterior": {
      "main": [
        [
          {
            "node": "Verificar se Há Conversas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar se Há Conversas": {
      "main": [
        [
          {
            "node": "Gerar HTML WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem Conversas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar HTML WhatsApp": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7aabaa59-6ff0-4b94-af8d-c17938e76b13",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d07a57d7c2add559a13f166055a90b89bb4e767a13639a3a9399707bf04755c3"
  },
  "id": "4LVgyLgxIY-AwsUkcIAxP",
  "tags": []
}