n8n/tools/Ferramenta_ Reiniciar Conversa.json
{
  "name": "Tool: Reiniciar Conversa",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "session_id"
            },
            {
              "name": "schema_name"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "7391613a-9ff8-4a42-8476-216c3acd6606",
      "name": "Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM {{$json.schema_name}}.reiniciar_conversa($1::varchar);",
        "options": {
          "queryReplacement": "={{ $json.session_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        0
      ],
      "id": "edd516eb-d166-496b-a307-2712d6f547a6",
      "name": "Reiniciar Conversa",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\nif (result.success) {\n  return [{ json: { resultado: `Conversa reiniciada com sucesso! O contexto da IA foi limpo (${result.chat_messages_deleted} mensagens de contexto removidas). O histórico de atendimentos anteriores continua salvo. Estou pronta para um novo atendimento. Como posso ajudar?` } }];\n}\n\nreturn [{ json: { resultado: 'Não foi possível reiniciar a conversa. Tente novamente.' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "2e136010-dfa6-4143-a3c4-6106049da9ae",
      "name": "Formatar Resultado"
    }
  ],
  "pinData": {
    "Trigger": [
      {
        "json": {
          "session_id": "5571920043588|553496620569",
          "schema_name": "clinicas_dra_andreia"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Reiniciar Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reiniciar Conversa": {
      "main": [
        [
          {
            "node": "Formatar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "27543ddc-b45e-4c90-a534-7ef77181bee9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d07a57d7c2add559a13f166055a90b89bb4e767a13639a3a9399707bf04755c3"
  },
  "id": "PDkFS5em9NgG0vKPUMMYb",
  "tags": []
}