n8n/tools/Ferramenta_ Buscar Paciente.json
{
  "name": "Tool: Buscar Paciente",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "schema_name"
            },
            {
              "name": "patient_phone"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "ffc304e9-8d01-495e-9197-2763a7e46736",
      "name": "Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM {{ $(\"Trigger\").first().json.schema_name || \"public\" }}.buscar_paciente_por_telefone($1::varchar);",
        "options": {
          "queryReplacement": "={{ $json.patient_phone || $json.telefone || $json.phone }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        0
      ],
      "id": "f7ac2f93-e05c-4409-b1f2-899f33b87ff5",
      "name": "Buscar Paciente",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\nif (!result.id_paciente) {\n  return [{ json: { resultado: 'Paciente não encontrado no cadastro. Pode ser um novo paciente.' } }];\n}\n\nlet resultado = `Paciente encontrado:\\n`;\nresultado += `👤 ${result.nome}\\n`;\nresultado += `📱 ${result.telefone}\\n`;\nif (result.data_nascimento) resultado += `🎂 ${new Date(result.data_nascimento).toLocaleDateString('pt-BR')}\\n`;\nif (result.convenio) resultado += `🏥 Convênio: ${result.convenio}\\n`;\nif (result.alergias && result.alergias.length > 0) resultado += `⚠️ Alergias: ${result.alergias.join(', ')}\\n`;\nif (result.condicoes_medicas && result.condicoes_medicas.length > 0) resultado += `🩺 Condições: ${result.condicoes_medicas.join(', ')}\\n`;\nresultado += `📊 Total de consultas: ${result.total_agendamentos || 0}\\n`;\nif ((result.tratamentos_ativos || 0) > 0) resultado += `🔄 Tratamentos ativos: ${result.tratamentos_ativos}\\n`;\nif (result.ultima_consulta) resultado += `📅 Última consulta: ${new Date(result.ultima_consulta).toLocaleDateString('pt-BR')}\\n`;\n\nreturn [{ json: { resultado, patient_id: result.id_paciente } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "58c9ea39-9035-494f-8c33-543de84c7340",
      "name": "Formatar Resultado"
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Buscar Paciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Paciente": {
      "main": [
        [
          {
            "node": "Formatar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0e5a19e1-557f-4a0f-b21b-cbb89ae48992",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d07a57d7c2add559a13f166055a90b89bb4e767a13639a3a9399707bf04755c3"
  },
  "id": "lTaS2twY8A-3Zkwz6iCAk",
  "tags": []
}