n8n/tools/Ferramenta_ Resumo Financeiro do Paciente.json
{
  "name": "Tool: Resumo Financeiro do Paciente",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "schema_name"
            },
            {
              "name": "patient_phone"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "37893996-eebe-48e6-bd4a-a314b371e739",
      "name": "Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM {{ $(\"Trigger\").first().json.schema_name || \"public\" }}.obter_resumo_financeiro_paciente($1::varchar);",
        "options": {
          "queryReplacement": "={{ $json.patient_phone || $json.telefone || $json.phone }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        0
      ],
      "id": "e80e90ce-b178-4683-9fd9-15e31c866514",
      "name": "Buscar Financeiro",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\nlet resultado = '💰 Resumo Financeiro:\\n';\nresultado += `  Total cobrado: R$ ${parseFloat(result.total_cobrado || 0).toFixed(2)}\\n`;\nresultado += `  Total pago: R$ ${parseFloat(result.total_pago || 0).toFixed(2)}\\n`;\nresultado += `  Pendente: R$ ${parseFloat(result.total_pendente || 0).toFixed(2)}\\n`;\n\nif (parseFloat(result.total_atrasado) > 0) {\n  resultado += `  ⚠️ Atrasado: R$ ${parseFloat(result.total_atrasado).toFixed(2)}\\n`;\n}\n\nconst proximos = result.proximos_vencimentos;\nif (proximos && Array.isArray(proximos) && proximos.length > 0) {\n  resultado += '\\n📅 Próximos vencimentos:\\n';\n  for (const p of proximos) {\n    resultado += `  • R$ ${parseFloat(p.valor).toFixed(2)} - ${new Date(p.vencimento).toLocaleDateString('pt-BR')} - ${p.descricao || ''}\\n`;\n  }\n}\n\nreturn [{ json: { resultado } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "e85ca7c1-677e-4d29-9fc8-6df182dc8011",
      "name": "Formatar Resultado"
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Buscar Financeiro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Financeiro": {
      "main": [
        [
          {
            "node": "Formatar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f46629cd-94d1-41b2-9842-1fea3ff8d668",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d07a57d7c2add559a13f166055a90b89bb4e767a13639a3a9399707bf04755c3"
  },
  "id": "7p-QuU6PC9dXHq_4t-DEv",
  "tags": []
}