n8n/tools/Ferramenta_ Consultar Agendamentos do Paciente.json
{
  "name": "Tool: Consultar Agendamentos do Paciente",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "schema_name"
            },
            {
              "name": "patient_phone"
            },
            {
              "name": "status"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "d256ff63-e57b-4ead-a618-a73978b239b6",
      "name": "Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM {{ $(\"Trigger\").first().json.schema_name || \"public\" }}.obter_agendamentos_paciente($1::varchar, NULLIF(TRIM($2::text), ''), 5);",
        "options": {
          "queryReplacement": "={{ [$json.patient_phone || $json.telefone_paciente, $json.status || ' '] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        240,
        0
      ],
      "id": "e5466b50-c89d-47ca-b093-0e41d3dc8b29",
      "name": "Buscar Agendamentos",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst agendamentos = items.filter(i => i.json.id_agendamento);\n\nif (agendamentos.length === 0) {\n  return [{ json: { resultado: 'Nenhum agendamento futuro encontrado para este paciente.' } }];\n}\n\nlet resultado = 'Próximos agendamentos:\\n';\nfor (const a of agendamentos) {\n  const d = a.json;\n  const date = new Date(d.data_consulta).toLocaleDateString('pt-BR');\n  resultado += `\\n📋 ID: ${d.id_agendamento}\\n`;\n  resultado += `   📅 ${date} às ${d.hora_consulta.substring(0,5)}\\n`;\n  resultado += `   👨‍⚕️ Dr(a). ${d.nome_dentista} (${d.especialidade_dentista || 'Clínica Geral'})\\n`;\n  if (d.nome_procedimento) resultado += `   🦷 ${d.nome_procedimento}\\n`;\n  resultado += `   Status: ${d.status}\\n`;\n}\n\nreturn [{ json: { resultado } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "38bb1fd6-d187-43f1-8aba-7154795b1db3",
      "name": "Formatar Resultado"
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Buscar Agendamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Agendamentos": {
      "main": [
        [
          {
            "node": "Formatar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ce9e1925-6088-47dc-8103-6cf1630751ca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d07a57d7c2add559a13f166055a90b89bb4e767a13639a3a9399707bf04755c3"
  },
  "id": "-lhyMHdd3_inlBq3iXnZc",
  "tags": []
}