n8n/tools/Ferramenta_ Agendar Consulta.json
{
  "name": "Tool: Agendar Consulta",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "schema_name"
            },
            {
              "name": "patient_phone"
            },
            {
              "name": "patient_name"
            },
            {
              "name": "dentist_id"
            },
            {
              "name": "procedure_id"
            },
            {
              "name": "date"
            },
            {
              "name": "time"
            },
            {
              "name": "notes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "e9fac2ab-63b8-42a6-b293-eac0f4719a74",
      "name": "Trigger"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst patientPhone = input.patient_phone || input.telefone_paciente || null;\nconst patientName = input.patient_name || input.nome_paciente || null;\nconst dentistId = input.dentist_id || input.id_dentista || null;\nconst procedureId = input.procedure_id || input.id_procedimento || null;\nconst date = input.date || input.data || null;\nconst time = input.time || input.horario || null;\nconst notes = input.notes || input.observacoes || ' ';\n\nconst errors = [];\nif (!patientPhone) errors.push('telefone do paciente');\nif (!patientName) errors.push('nome do paciente');\nif (!dentistId) errors.push('ID do dentista');\nif (!date) errors.push('data da consulta (YYYY-MM-DD)');\nif (!time) errors.push('horário (HH:MM)');\n\nif (errors.length > 0) {\n  return [{ json: { error: true, message: `Dados obrigatórios faltando: ${errors.join(', ')}. Peça essas informações ao paciente.` } }];\n}\n\nreturn [{ json: { patient_phone: patientPhone, patient_name: patientName, dentist_id: String(parseInt(dentistId)), procedure_id: procedureId ? String(parseInt(procedureId)) : ' ', date, time, notes } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "ed89f248-316f-4f33-9dfe-368eb6a2938e",
      "name": "Parsear Entrada"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM {{ $(\"Trigger\").first().json.schema_name || \"public\" }}.criar_agendamento_whatsapp($1::varchar, $2::varchar, $3::bigint, NULLIF(TRIM($4::text), '')::bigint, $5::date, $6::time, NULLIF(TRIM($7::text), ''));",
        "options": {
          "queryReplacement": "={{ [$json.patient_phone, $json.patient_name, $json.dentist_id, $json.procedure_id, $json.date, $json.time, $json.notes] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        0
      ],
      "id": "d199564b-be6c-4ecc-b07a-a7089c4a9d57",
      "name": "Criar Agendamento",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\nif (result.error) {\n  return [{ json: { resultado: result.mensagem } }];\n}\n\nif (result.sucesso) {\n  return [{ json: { resultado: `✅ ${result.mensagem} (ID: ${result.id_agendamento}). Enviaremos um lembrete 24h antes. Para cancelar, informe o ID do agendamento.` } }];\n} else {\n  return [{ json: { resultado: `❌ ${result.mensagem}` } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "id": "842cdbe5-73e5-4392-9a99-854b95594d6c",
      "name": "Formatar Resultado"
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Parsear Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Entrada": {
      "main": [
        [
          {
            "node": "Criar Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Agendamento": {
      "main": [
        [
          {
            "node": "Formatar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d1998d32-d27f-4c6f-8638-2f3dc7fe26b4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d07a57d7c2add559a13f166055a90b89bb4e767a13639a3a9399707bf04755c3"
  },
  "id": "DGFmV2DcLn5Hr87SG-M6w",
  "tags": []
}